Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

Update workflows.md
  src/pages/Alfred/workflows.md
Labels: minor

Update workflows.md
  src/pages/Alfred/workflows.md
Labels: minor

Create Alfred Workflows page (#213)
  src/pages/Alfred/workflows.md
Labels: minor

Create alfred.json
  src/pages/alfred/alfred.json
Labels: minor

Create alfred.json (#214)
  src/pages/alfred/alfred.json
Labels: minor

Rename src/pages/alfred/alfred.json to src/pages/Alfred/alfred.json
  src/pages/Alfred/alfred.json
Labels: minor

Update Eleventy version and Favicons
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/timetrak/index.html
  docs/favicon.ico
  docs/favicon.png
  docs/feed/feed.xml
  docs/img/funko.PNG
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
  src/_includes/base.njk
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/browserconfig.xml
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/favicon.png
  src/img/funko.PNG
  src/mstile-150x150.png
  src/safari-pinned-tab.svg
  src/site.webmanifest
Labels: minor, dependencies

Update Netlify config file
  netlify.toml
Labels: none

Update gitignore per instructions
  .gitignore
Labels: none

Update packages and configure Stylelint
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
Labels: dependencies

Fix Stylelint errors
  .stylelintrc.json
  docs/css/fontawesome.css
  docs/css/style.css
  docs/index.html
  src/sass/_general.scss
  src/sass/_product.scss
Labels: minor

Set Node version to 18.6.0
  netlify.toml
Labels: none

Update Eleventy version and Favicons (#215)
  .gitignore
  .stylelintignore
  .stylelintrc.json
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/css/fontawesome.css
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/favicon.ico
  docs/favicon.png
  docs/feed/feed.xml
  docs/img/funko.PNG
  docs/prototypes/index.html
  docs/sitemap.xml
  netlify.toml
  package-lock.json
  package.json
  social/pages.json
  src/_includes/base.njk
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/browserconfig.xml
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/favicon.png
  src/img/funko.PNG
  src/mstile-150x150.png
  src/safari-pinned-tab.svg
  src/sass/_general.scss
  src/sass/_product.scss
  src/site.webmanifest
Labels: minor, dependencies

Update GitHub Workflows
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
Labels: github-action

Update GitHub Workflows (#216)
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
Labels: github-action

Update about.md
  src/pages/about.md
Labels: minor

Update About page with current information
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
  src/pages/about.md
Labels: minor

fix media query issues
  docs/css/style.css
  src/sass/_general.scss
  src/sass/_product.scss
Labels: minor

Update about.md (#222)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
  src/pages/about.md
  src/sass/_general.scss
  src/sass/_product.scss
Labels: minor

Update examples
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/examples/index.html
  docs/feed/feed.xml
  docs/img/1-preview.png
  docs/img/Alfredlogo4.png
  docs/img/streamdeck-preview.png
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/page.njk
  src/img/Alfredlogo4.png
  src/img/streamdeck-preview.png
  src/pages/about.md
  src/pages/code.md
  src/pages/design.md
  src/pages/prototypes.md
  src/pages/streamdeck/examples.md
  src/pages/streamdeck/streamdeck.json
Labels: minor

Update examples (#224)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/examples/index.html
  docs/feed/feed.xml
  docs/img/1-preview.png
  docs/img/Alfredlogo4.png
  docs/img/streamdeck-preview.png
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/page.njk
  src/img/Alfredlogo4.png
  src/img/streamdeck-preview.png
  src/pages/about.md
  src/pages/code.md
  src/pages/design.md
  src/pages/prototypes.md
  src/pages/streamdeck/examples.md
  src/pages/streamdeck/streamdeck.json
Labels: minor

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github-action

Update release-drafter.yml (#225)
  .github/release-drafter.yml
Labels: github-action

Update contact email
  src/_includes/home.njk
Labels: minor

Update contact email (#226)
  src/_includes/home.njk
Labels: minor

Update much more than code examples
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241.buffer
  .eleventy.js
  .vscode/settings.json
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/img/avatar.png
  docs/img/yL0QoCVMHj-2406.jpeg
  docs/img/yL0QoCVMHj-2406.webp
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  img/yL0QoCVMHj-2406.jpeg
  img/yL0QoCVMHj-2406.webp
  img/yL0QoCVMHj-300.jpeg
  img/yL0QoCVMHj-300.webp
  package-lock.json
  package.json
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/sitenav.njk
  src/img/avatar.png
  src/pages/Alfred/workflows.md
  src/pages/about.md
  src/pages/code.md
  src/pages/streamdeck/examples.md
  src/pages/streamdeck/streamdeck-preview.png
Labels: minor, dependencies

Update much more than code examples (#227)
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241.buffer
  .eleventy.js
  .vscode/settings.json
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/img/avatar.png
  docs/img/yL0QoCVMHj-2406.jpeg
  docs/img/yL0QoCVMHj-2406.webp
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  img/yL0QoCVMHj-2406.jpeg
  img/yL0QoCVMHj-2406.webp
  img/yL0QoCVMHj-300.jpeg
  img/yL0QoCVMHj-300.webp
  package-lock.json
  package.json
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/sitenav.njk
  src/img/avatar.png
  src/pages/Alfred/workflows.md
  src/pages/about.md
  src/pages/code.md
  src/pages/streamdeck/examples.md
  src/pages/streamdeck/streamdeck-preview.png
Labels: minor, dependencies

Reorder Stay Connected links
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  docs/feed/feed.xml
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
Labels: minor

Reorder Stay Connected links (#228)
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  docs/feed/feed.xml
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
Labels: minor

Update home.njk
  src/_includes/home.njk
Labels: minor

Update home.njk (#229)
  src/_includes/home.njk
Labels: minor

Homepage fix
  docs/feed/feed.xml
  docs/index.html
  docs/sitemap.xml
Labels: none

Add Figma link to community profile
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/img/adamj-github.png
  docs/img/ajolicoeur_wordcloud.png
  docs/img/ajolicoeur_wordcloud_writing.png
  docs/index.html
  docs/prototypes/index.html
  docs/streamdeck/examples/index.html
  src/_includes/base.njk
  src/_includes/home.njk
  src/img/adamj-github.png
  src/img/ajolicoeur_wordcloud.png
  src/img/ajolicoeur_wordcloud_writing.png
Labels: minor

Resize images to decrease load times
  docs/img/ajolicoeur_wordcloud.png
  docs/img/ajolicoeur_wordcloud_writing.png
  src/img/ajolicoeur_wordcloud.png
  src/img/ajolicoeur_wordcloud_writing.png
Labels: minor

Update gitignore and add eleventyignore files
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241.buffer
  .eleventyignore
  .gitignore
Labels: none

Update gitignore and add eleventyignore files
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241.buffer
  .eleventyignore
  .gitignore
Labels: none

Add Figma link to community profile
  .cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/img/adamj-github.png
  docs/img/ajolicoeur_wordcloud.png
  docs/img/ajolicoeur_wordcloud_writing.png
  docs/index.html
  docs/prototypes/index.html
  docs/streamdeck/examples/index.html
  src/_includes/base.njk
  src/_includes/home.njk
  src/img/adamj-github.png
  src/img/ajolicoeur_wordcloud.png
  src/img/ajolicoeur_wordcloud_writing.png
Labels: minor

Resize images to decrease load times
  docs/img/ajolicoeur_wordcloud.png
  docs/img/ajolicoeur_wordcloud_writing.png
  src/img/ajolicoeur_wordcloud.png
  src/img/ajolicoeur_wordcloud_writing.png
Labels: minor

Update Explore button to go to the Design page
  docs/css/style.css
  docs/index.html
  src/_includes/home.njk
  src/sass/_buttons.scss
Labels: minor

Fix alignment on mobile and adjust spacing
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/pages/about/index.html
  docs/pages/design/index.html
  docs/pages/development/index.html
  docs/prototypes/prototypes/index.html
  docs/streamdeck/examples/index.html
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/sitenav.njk
  src/pages/development.md
  src/pages/pages.json
  src/pages/prototypes/prototypes.md
  src/sass/_buttons.scss
  src/sass/_general.scss
Labels: minor

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**
