Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

Add Netlify Lighthouse (#262)
  sitemap.xml
Labels: none

Cleanup CSS and add color scaling
  docs/css/fontawesome.css
  docs/css/style.css
  docs/css/style.css.map
  src/sass/_colors.scss
  src/sass/_mixins.scss
  src/sass/_typography.scss
Labels: minor

Update Resume and Job History
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/fontawesome.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/home.njk
  src/pages/about.md
  src/pages/resume.md
Labels: minor

Update Resume and Job History (#265)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/fontawesome.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/home.njk
  src/pages/about.md
  src/pages/resume.md
Labels: minor

Update Resume and Job History (#265)
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/presentations/colorPicker/index.html
  designs/presentations/portfolio/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/index.html
  feed.json
  index.html
  prototypes/prototypes/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Cleanup-January17
  .eleventy.js
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/android-chrome-192x192.png
  docs/android-chrome-512x512.png
  docs/apple-touch-icon.png
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/safari-pinned-tab.svg
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/pages/about.md
  src/pages/contact.md
  src/pages/resume.md
Labels: minor

Cleanup-January17 (#266)
  .eleventy.js
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/android-chrome-192x192.png
  docs/android-chrome-512x512.png
  docs/apple-touch-icon.png
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/safari-pinned-tab.svg
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/pages/about.md
  src/pages/contact.md
  src/pages/resume.md
Labels: minor

Cleanup-January17 (#266) 41009180e9b77994dede863fcd8d341f7a95405f
  about/index.html
  alfred/workflows/index.html
  android-chrome-192x192.png
  android-chrome-512x512.png
  apple-touch-icon.png
  code/redesign/index.html
  contact/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/presentations/colorPicker/index.html
  designs/presentations/portfolio/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/index.html
  feed.json
  index.html
  prototypes/prototypes/index.html
  resume/index.html
  safari-pinned-tab.svg
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Update package dependencies and rebuild
  .nvmrc
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update Netlify Lighthouse plugin
  package-lock.json
  package.json
Labels: dependencies

Update package dependencies and rebuild (#267)
  .nvmrc
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update package dependencies and rebuild (#267)
  css/style.css
  css/style.css.map
  feed.json
  sitemap.xml
Labels: none

Update Contact page
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
  src/pages/contact.md
Labels: minor

Update Contact page (#268)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
  src/pages/contact.md
Labels: minor

Update Contact page (#268) 5fc6a1f61917c01e106d4d93275d7cc416f5d4dd
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/presentations/colorPicker/index.html
  designs/presentations/portfolio/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/index.html
  feed.json
  index.html
  prototypes/prototypes/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Add alert for carousel autoplay
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/presentations/colorPicker/index.md
  src/pages/presentations/portfolio/index.md
Labels: minor

Add alert for carousel autoplay (#269)
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/presentations/colorPicker/index.md
  src/pages/presentations/portfolio/index.md
Labels: minor

Add alert for carousel autoplay (#269)
  designs/presentations/colorPicker/index.html
  designs/presentations/portfolio/index.html
  feed.json
  sitemap.xml
Labels: none

Add image to resource library
  docs/css/style.css
  docs/img/curved-lines.svg
  src/img/curved-lines.svg
Labels: minor

[img] Add image to resource library (#270)
  docs/css/style.css
  docs/img/curved-lines.svg
  src/img/curved-lines.svg
Labels: minor

[img] Add image to resource library (#270)
  img/curved-lines.svg
Labels: none

Update homepage with latest work
  docs/css/style.css
  docs/feed.json
  docs/img/task-it_intro.png
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/img/task-it_intro.png
Labels: minor

Update homepage with latest work (#271)
  docs/css/style.css
  docs/feed.json
  docs/img/task-it_intro.png
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/img/task-it_intro.png
Labels: minor

Update homepage with latest work (#271)
  feed.json
  img/task-it_intro.png
  index.html
  sitemap.xml
Labels: none

Update NodeJS for Netlify builds
  netlify.toml
Labels: none

Update package-lock file
  package-lock.json
Labels: dependencies

Update NodeJS for Netlify builds (#272)
  netlify.toml
Labels: none

Update package-lock file (#273)
  package-lock.json
Labels: dependencies

Update package-lock file (#273) 99f316ac8fb173d905d009bd2fa165a14c2488e9
  css/style.css
Labels: none

Add reference page for future use
  docs/css/fontawesome.css
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  social/pages.json
  src/pages/reference/games-and-things.png
  src/pages/reference/reference.json
  src/pages/reference/reference.md
Labels: minor

Add reference page (#274)
  docs/css/fontawesome.css
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  social/pages.json
  src/pages/reference/games-and-things.png
  src/pages/reference/reference.json
  src/pages/reference/reference.md
Labels: minor

Add reference page (#274)
  css/fontawesome.css
  feed.json
  reference/index.html
  sitemap.xml
Labels: none

Update reference
  docs/feed.json
  docs/img/adam-j.png
  docs/reference/index.html
  docs/sitemap.xml
  social/pages.json
  src/img/adam-j.png
  src/pages/reference/reference.md
Labels: minor

Update reference (#275)
  docs/feed.json
  docs/img/adam-j.png
  docs/reference/index.html
  docs/sitemap.xml
  social/pages.json
  src/img/adam-j.png
  src/pages/reference/reference.md
Labels: minor

Update reference (#275) 7da041aa31a1f2b534c1748cf2541205ae2f0019
  feed.json
  img/adam-j.png
  reference/index.html
  sitemap.xml
Labels: none

Set v22 as Node default
  .nvmrc
  README.md
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  netlify.toml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Set v22 as Node default (#276)
  .nvmrc
  README.md
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  netlify.toml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Set v22 as Node default (#276)
  feed.json
  reference/index.html
  sitemap.xml
Labels: none

Update Release Drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  README.md
Labels: github-action

Add Name and Tag templates for drafts
  .github/release-drafter.yml
Labels: github-action

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**
