Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/_data/**
  - src/_generate/**
  - src/_includes/**
  - src/img/**
  - src/js/**
  - src/pages/**
  - src/sass/**
  - src/webfonts/**
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

Update dependencies
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update dependencies
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update dependencies a0255a3beb2d9b4656b709a3bd64d13e0e3706c4
  css/prism.css
  css/style.css
  feed.json
  sitemap.xml
Labels: none

Build updates
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
Labels: none

Delete CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Delete CNAME c72a5c331ec03bdba6baf03d9712e51ae23110f5
  feed.json
  sitemap.xml
Labels: none

Delete CNAME
  CNAME
Labels: none

Cleanup code
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
Labels: none

Fix color picker presentation link
  docs/designs/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  src/_includes/carousel.njk
  src/pages/designs.md
Labels: minor

Fix link to Blog
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/footer.njk
  src/pages/development.md
Labels: minor

update Home to hide image on small
  docs/css/style.css
  docs/designs/customer-engagement/index.html
  docs/feed.json
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/pages/designs/customer-engagement.md
  src/sass/style.scss
Labels: minor

Complete converstion of Customer Engagement page
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/pages/designs/alm.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/task-it.md
Labels: minor

Remove unused sass files
  docs/css/style.css.map
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/sass/_buttons.scss
  src/sass/_cards.scss
  src/sass/_carousel.scss
  src/sass/_colors.scss
  src/sass/_extenders.scss
  src/sass/_font-fira-mono.scss
  src/sass/_font-lato.scss
  src/sass/_font-oswald.scss
  src/sass/_fontawesome.scss
  src/sass/_footer.scss
  src/sass/_general.scss
  src/sass/_helpers.scss
  src/sass/_mixins.scss
  src/sass/_navigation.scss
  src/sass/_toc.scss
  src/sass/_typography.scss
  src/sass/_variables.scss
  src/sass/style.scss
Labels: minor

Updates to navigation and theme changes
  docs/404.html
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/js/jolicoeur.js
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  src/404.html
  src/_includes/base.njk
  src/_includes/footer.njk
  src/_includes/home.njk
  src/_includes/markdown.njk
  src/_includes/sitenav.njk
  src/js/jolicoeur.js
Labels: minor

Fix accesslint issues
  docs/404.html
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  src/_includes/sitenav.njk
Labels: minor

Complete converstion of Customer Engagement page
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/pages/designs/alm.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/task-it.md
Labels: minor

update Home to hide image on small
  docs/css/style.css
  docs/designs/customer-engagement/index.html
  docs/feed.json
  docs/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/pages/designs/customer-engagement.md
  src/sass/style.scss
Labels: minor

Build updates
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
Labels: none

Cleanup code
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
Labels: none

Fix link to Blog
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/footer.njk
  src/pages/development.md
Labels: minor

Fix accesslint issues
  docs/404.html
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  src/_includes/sitenav.njk
Labels: minor

Remove unused sass files
  docs/css/style.css.map
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/sass/_buttons.scss
  src/sass/_cards.scss
  src/sass/_carousel.scss
  src/sass/_colors.scss
  src/sass/_extenders.scss
  src/sass/_font-fira-mono.scss
  src/sass/_font-lato.scss
  src/sass/_font-oswald.scss
  src/sass/_fontawesome.scss
  src/sass/_footer.scss
  src/sass/_general.scss
  src/sass/_helpers.scss
  src/sass/_mixins.scss
  src/sass/_navigation.scss
  src/sass/_toc.scss
  src/sass/_typography.scss
  src/sass/_variables.scss
  src/sass/style.scss
Labels: minor

Updates to navigation and theme changes
  docs/404.html
  docs/about/index.html
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/js/jolicoeur.js
  docs/marketing/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  src/404.html
  src/_includes/base.njk
  src/_includes/footer.njk
  src/_includes/home.njk
  src/_includes/markdown.njk
  src/_includes/sitenav.njk
  src/js/jolicoeur.js
Labels: minor

Fix color picker presentation link
  docs/designs/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  src/_includes/carousel.njk
  src/pages/designs.md
Labels: minor

Update application document locations
  docs/apps/collectsomemore/index.html
  docs/apps/privacy/index.html
  docs/apps/releases/index.html
  docs/apps/support/index.html
  docs/assets/img/Jolicoeur_iOS-dark-thumb.jpg
  docs/assets/img/Jolicoeur_iOS-dark-thumb.webp
  docs/assets/img/Jolicoeur_iOS-dark.jpg
  docs/assets/img/Jolicoeur_iOS-dark.webp
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/assets/img/Jolicoeur_iOS-dark-thumb.jpg
  src/assets/img/Jolicoeur_iOS-dark-thumb.webp
  src/assets/img/Jolicoeur_iOS-dark.jpg
  src/assets/img/Jolicoeur_iOS-dark.webp
  src/pages/apps/privacy/index.md
  src/pages/apps/privacy/privacy.json
  src/pages/apps/releases/index.md
  src/pages/apps/releases/releases.json
  src/pages/apps/support/index.md
  src/pages/apps/support/support.json
  src/pages/collectsomemore/index.md
  src/pages/collectsomemore/privacy/privacy.json
  src/pages/collectsomemore/releases/index.md
  src/pages/collectsomemore/releases/releases.json
  src/pages/collectsomemore/support/support.json
Labels: minor

Update application document locations
  docs/apps/collectsomemore/index.html
  docs/apps/privacy/index.html
  docs/apps/releases/index.html
  docs/apps/support/index.html
  docs/assets/img/Jolicoeur_iOS-dark-thumb.jpg
  docs/assets/img/Jolicoeur_iOS-dark-thumb.webp
  docs/assets/img/Jolicoeur_iOS-dark.jpg
  docs/assets/img/Jolicoeur_iOS-dark.webp
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/assets/img/Jolicoeur_iOS-dark-thumb.jpg
  src/assets/img/Jolicoeur_iOS-dark-thumb.webp
  src/assets/img/Jolicoeur_iOS-dark.jpg
  src/assets/img/Jolicoeur_iOS-dark.webp
  src/pages/apps/privacy/index.md
  src/pages/apps/privacy/privacy.json
  src/pages/apps/releases/index.md
  src/pages/apps/releases/releases.json
  src/pages/apps/support/index.md
  src/pages/apps/support/support.json
  src/pages/collectsomemore/index.md
  src/pages/collectsomemore/privacy/privacy.json
  src/pages/collectsomemore/releases/index.md
  src/pages/collectsomemore/releases/releases.json
  src/pages/collectsomemore/support/support.json
Labels: minor

Update application document locations f110d030e5b0bb71be0d1fb6a27be322324f17e3
  apps/collectsomemore/index.html
  apps/privacy/index.html
  apps/releases/index.html
  apps/support/index.html
  assets/img/Jolicoeur_iOS-dark-thumb.jpg
  assets/img/Jolicoeur_iOS-dark-thumb.webp
  assets/img/Jolicoeur_iOS-dark.jpg
  assets/img/Jolicoeur_iOS-dark.webp
  feed.json
  sitemap.xml
Labels: none

Build updates
  docs/alfred/workflows/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/howto/index.html
  docs/posts/index.html
  docs/sitemap.xml
  social/pages.json
Labels: none

Feed and Sitemap updates
  docs/feed.json
  docs/sitemap.xml
Labels: none

Feed and Sitemap updates
  docs/feed.json
  docs/sitemap.xml
Labels: none

Build updates
  docs/alfred/workflows/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/howto/index.html
  docs/posts/index.html
  docs/sitemap.xml
  social/pages.json
Labels: none

Feed and Sitemap updates 604f2d943eebd6c75ceb716f13bc0aa7a1db95ce
  feed.json
  sitemap.xml
Labels: none

Update dependencies 4e28552b342cd4ecebff58b7a0249a5ec0de4360
  about/index.html
  apps/collectsomemore/index.html
  apps/index.html
  apps/releases/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  css/style.css
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  marketing/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  uses/index.html
  workflows/index.html
Labels: none

Update build
  docs/css/style.css
  docs/css/style.css.map
  package-lock.json
Labels: dependencies

Update Stylelint
  .stylelintignore
  .stylelintrc.json
Labels: none

Update build
  .github/workflows/eleventy_build.yml
  docs/css/style.css
  docs/js/icon-component.js
  package.json
  src/js/icon-component.js
  src/sass/_fontawesome.scss
Labels: minor, github-action

Update eleventy build workflow
  .github/workflows/eleventy_build.yml
Labels: github-action

Updates
  docs/css/style.css
  package.json
Labels: none

Remove package-lock
  package-lock.json
Labels: dependencies
