Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/_data/**
  - src/_generate/**
  - src/_includes/**
  - src/img/**
  - src/js/**
  - src/pages/**
  - src/sass/**
  - src/webfonts/**
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

feat: add Weekly Report generator to portfolio decb618cdb1fe3ee61c9a09447090d75e40e93f3
  assets/img/timetracker-generated-summary-thumb.jpg
  assets/img/timetracker-generated-summary-thumb.webp
  assets/img/timetracker-generated-summary.jpg
  assets/img/timetracker-generated-summary.webp
  assets/img/timetracker-loading-state-screen-thumb.jpg
  assets/img/timetracker-loading-state-screen-thumb.webp
  assets/img/timetracker-loading-state-screen.jpg
  assets/img/timetracker-loading-state-screen.webp
  assets/img/timetracker-loading-state-thumb.jpg
  assets/img/timetracker-loading-state-thumb.webp
  assets/img/timetracker-loading-state.jpg
  assets/img/timetracker-loading-state.webp
  assets/img/timetracker-weekly-report-thumb.jpg
  assets/img/timetracker-weekly-report-thumb.webp
  assets/img/timetracker-weekly-report.jpg
  assets/img/timetracker-weekly-report.webp
  development/timetracker/index.html
  feed.json
  portfolio/index.html
  sitemap.xml
Labels: none

fix: display and alignment of case studies
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/task-it/index.html
  docs/development/archparser/index.html
  docs/feed.json
  docs/index.html
  docs/sitemap.xml
  src/assets/img/timetracker-generated-summary-thumb.jpg
  src/assets/img/timetracker-generated-summary.jpg
  src/assets/img/timetracker-loading-state-screen-thumb.jpg
  src/assets/img/timetracker-loading-state-screen.jpg
  src/assets/img/timetracker-loading-state-thumb.jpg
  src/assets/img/timetracker-loading-state.jpg
  src/assets/img/timetracker-weekly-report-thumb.jpg
  src/assets/img/timetracker-weekly-report.jpg
  src/index.md
  src/pages/designs/alm.md
  src/pages/designs/component-library.md
  src/pages/designs/task-it.md
  src/pages/development/archparser.md
Labels: minor

fix: display and alignment of case studies
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/task-it/index.html
  docs/development/archparser/index.html
  docs/feed.json
  docs/index.html
  docs/sitemap.xml
  src/assets/img/timetracker-generated-summary-thumb.jpg
  src/assets/img/timetracker-generated-summary.jpg
  src/assets/img/timetracker-loading-state-screen-thumb.jpg
  src/assets/img/timetracker-loading-state-screen.jpg
  src/assets/img/timetracker-loading-state-thumb.jpg
  src/assets/img/timetracker-loading-state.jpg
  src/assets/img/timetracker-weekly-report-thumb.jpg
  src/assets/img/timetracker-weekly-report.jpg
  src/index.md
  src/pages/designs/alm.md
  src/pages/designs/component-library.md
  src/pages/designs/task-it.md
  src/pages/development/archparser.md
Labels: minor

fix: display and alignment of case studies 07e5f0fa838dbc9cd0926b090ee50c9c2d274ae6
  assets/img/timetracker-generated-summary-thumb.jpg
  assets/img/timetracker-generated-summary.jpg
  assets/img/timetracker-loading-state-screen-thumb.jpg
  assets/img/timetracker-loading-state-screen.jpg
  assets/img/timetracker-loading-state-thumb.jpg
  assets/img/timetracker-loading-state.jpg
  assets/img/timetracker-weekly-report-thumb.jpg
  assets/img/timetracker-weekly-report.jpg
  designs/alm/index.html
  designs/component-library/index.html
  designs/task-it/index.html
  development/archparser/index.html
  feed.json
  index.html
  sitemap.xml
Labels: none

feat: add soccergametracker case study
  docs/case-studies/soccertracker/index.html
  docs/feed.json
  docs/sitemap.xml
  src/pages/case-studies/case-studies.json
  src/pages/case-studies/soccertracker.md
Labels: minor

feat: add soccergametracker case study
  docs/case-studies/soccertracker/index.html
  docs/feed.json
  docs/sitemap.xml
  src/pages/case-studies/case-studies.json
  src/pages/case-studies/soccertracker.md
Labels: minor

breaking: convert from NPM to PNPM
  .eleventy.js
  .github/workflows/dependency-review.yml
  .github/workflows/eleventy_build.yml
  .nvmrc
  README.md
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sass/containers.css
  docs/sass/style.css
  docs/sitemap.xml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, github-action

breaking: convert from NPM to PNPM
  .eleventy.js
  .github/workflows/dependency-review.yml
  .github/workflows/eleventy_build.yml
  .nvmrc
  README.md
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sass/containers.css
  docs/sass/style.css
  docs/sitemap.xml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, github-action

chore: update frozen lockfile
  pnpm-lock.yaml
Labels: none

chore: update frozen lockfile
  pnpm-lock.yaml
Labels: none

chore: update frozen lockfile
  css/style.css
  css/style.css.map
  feed.json
  sass/containers.css
  sass/style.css
  sitemap.xml
Labels: none

feat: add Open Source page 9e90235411911b49c169fcb949d576c7d666220c
  about/adam/index.html
  about/resume/index.html
  apps/gamesandthings.html
  apps/index.html
  apps/magiccollection.html
  apps/moonsilver.html
  apps/privacy.html
  apps/soccer.html
  apps/support.html
  apps/taskstat-privacy.html
  apps/taskstat.html
  apps/timetracker.html
  archives/index.html
  archives/town-selectman.html
  case-studies/color-picker/index.html
  case-studies/index.html
  case-studies/soccertracker/index.html
  credits/credits/index.html
  credits/open-source/index.html
  designs/alm/index.html
  designs/component-library/index.html
  designs/customer-engagement/index.html
  designs/dashboard-analytics/index.html
  designs/task-it/index.html
  development/archparser/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  development/timetracker/index.html
  feed.json
  index.html
  portfolio/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  sitemap.xml
  sw.js
  uses/index.html
Labels: none

chore: fix design system conflicts and add DESIGN.md
  DESIGN.md
  src/sass/_cards.scss
  src/sass/_components.scss
  src/sass/_variables.scss
  src/sass/containers.scss
Labels: minor

docs: rewrite DESIGN.md for Stitch compatibility
  .claude/settings.local.json
  .stitch/DESIGN.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
Labels: none

chore: fix design system conflicts and add DESIGN.md
  DESIGN.md
  src/sass/_cards.scss
  src/sass/_components.scss
  src/sass/_variables.scss
  src/sass/containers.scss
Labels: minor

docs: rewrite DESIGN.md for Stitch compatibility
  .claude/settings.local.json
  .stitch/DESIGN.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
Labels: none

docs: rewrite DESIGN.md for Stitch compatibility
  css/containers.css
  css/style.css
  css/style.css.map
  feed.json
  sass/containers.css
  sass/style.css
  sitemap.xml
  sw.js
Labels: none

chore: remove dead deps/files and dedupe card shadow styles
  .eleventy.js
  docs/credits/credits/index.html
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/js/icon-component.js
  docs/js/jolicoeur.js
  docs/js/webawesome.js
  docs/sass/containers.css
  docs/sass/style.css
  docs/site.webmanifest
  docs/sitemap.xml
  docs/sw.js
  package.json
  pnpm-lock.yaml
  src/js/icon-component.js
  src/js/jolicoeur.js
  src/js/webawesome.js
  src/pages/credits/credits.md
  src/sass/_cards.scss
  src/site.webmanifest
Labels: minor

chore: remove dead deps/files and dedupe card shadow styles
  .eleventy.js
  docs/credits/credits/index.html
  docs/css/containers.css
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/js/icon-component.js
  docs/js/jolicoeur.js
  docs/js/webawesome.js
  docs/sass/containers.css
  docs/sass/style.css
  docs/site.webmanifest
  docs/sitemap.xml
  docs/sw.js
  package.json
  pnpm-lock.yaml
  src/js/icon-component.js
  src/js/jolicoeur.js
  src/js/webawesome.js
  src/pages/credits/credits.md
  src/sass/_cards.scss
  src/site.webmanifest
Labels: minor

fix: resolve stylelint errors and dedupe gallery carousel SCSS
  CLAUDE.md
  docs/css/containers.css.map
  docs/css/slides.css.map
  docs/sass/print.css
  src/sass/_buttons.scss
  src/sass/_cards.scss
  src/sass/_footer.scss
  src/sass/_gallery.scss
  src/sass/_typography.scss
  src/sass/_variables.scss
  src/sass/containers.scss
  src/sass/print.scss
  src/sass/slides.scss
Labels: minor

chore: ignore regenerated workbox build output
  .gitignore
Labels: none

chore: declare slugify as direct dependency and simplify build scripts
  package.json
  pnpm-lock.yaml
Labels: none

chore: regenerate build output after rebase onto main
  docs/css/containers.css
  docs/css/print.css
  docs/css/slides.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sass/style.css
  docs/sitemap.xml
  docs/sw.js
Labels: none

fix: resolve Stylelint errors and dedupe styles
  .gitignore
  CLAUDE.md
  docs/css/containers.css
  docs/css/containers.css.map
  docs/css/print.css
  docs/css/slides.css
  docs/css/slides.css.map
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sass/print.css
  docs/sass/style.css
  docs/sitemap.xml
  docs/sw.js
  package.json
  pnpm-lock.yaml
  src/sass/_buttons.scss
  src/sass/_cards.scss
  src/sass/_footer.scss
  src/sass/_gallery.scss
  src/sass/_typography.scss
  src/sass/_variables.scss
  src/sass/containers.scss
  src/sass/print.scss
  src/sass/slides.scss
Labels: minor

fix: pin pnpm version in CI and stop tracking docs/ build output
  credits/credits/index.html
  css/containers.css
  css/containers.css.map
  css/print.css
  css/slides.css
  css/slides.css.map
  css/style.css
  css/style.css.map
  feed.json
  js/icon-component.js
  js/jolicoeur.js
  js/webawesome.js
  sass/print.css
  sass/style.css
  site.webmanifest
  sitemap.xml
  sw.js
Labels: none

feat: add portfolio redesign prototype with interactive hero, currently building strip, and side projects grid
  src/pages/home-prototypes/hero-interactive.html
  src/pages/prototypes/redesign-preview.html
  src/pages/prototypes/redesign.html
Labels: minor

feat: add 'What I Use' section to homepage with condensed tools and setup
  src/index.md
Labels: minor

docs: add IDEA.md
  IDEA.md
Labels: none

feat: remove Use section from homepage
  src/index.md
Labels: minor

feat: remove Use section from homepage 28976985ba238b4b448337dbd04a859b485c65c0
  feed.json
  prototypes/hero-interactive/index.html
  prototypes/redesign/index.html
  redesign-preview/index.html
  sitemap.xml
  sw.js
Labels: none

feat: rewrite and restructure portfolio items
  .eleventy.js
  .nvmrc
  social/template.html
  src/404.html
  src/_data/meta.js
  src/_data/redirects.js
  src/_includes/blank.njk
  src/_includes/case-study-nav.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/_includes/work-cards.njk
  src/assets/AdamJolicoeur-Resume.pdf
  src/feed.njk
  src/index.md
  src/pages/about/adam.md
  src/pages/about/resume.md
  src/pages/apps/TimeTrackerPro.md
  src/pages/apps/index.md
  src/pages/apps/privacy.md
  src/pages/apps/taskstat-privacy.md
  src/pages/apps/taskstat.md
  src/pages/case-studies.md
  src/pages/designs/designs.json
  src/pages/development/archparser.md
  src/pages/development/timetracker.md
  src/pages/portfolio.md
  src/pages/portfolio/alm.md
  src/pages/portfolio/archparser.md
  src/pages/portfolio/casim.md
  src/pages/portfolio/color-picker.md
  src/pages/portfolio/component-library.md
  src/pages/portfolio/customer-engagement.md
  src/pages/portfolio/dashboard-analytics.md
  src/pages/portfolio/portfolio.json
  src/pages/portfolio/soccertracker.md
  src/pages/portfolio/task-it.md
  src/pages/portfolio/timetracker.md
  src/pages/timetraked/timetraked.html
  src/pages/timetraked/timetraked.json
  src/redirects.njk
Labels: minor

feat: rewrite and restructure portfolio items
  .eleventy.js
  .nvmrc
  social/template.html
  src/404.html
  src/_data/meta.js
  src/_data/redirects.js
  src/_includes/blank.njk
  src/_includes/case-study-nav.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/_includes/work-cards.njk
  src/assets/AdamJolicoeur-Resume.pdf
  src/feed.njk
  src/index.md
  src/pages/about/adam.md
  src/pages/about/resume.md
  src/pages/apps/TimeTrackerPro.md
  src/pages/apps/index.md
  src/pages/apps/privacy.md
  src/pages/apps/taskstat-privacy.md
  src/pages/apps/taskstat.md
  src/pages/case-studies.md
  src/pages/designs/designs.json
  src/pages/development/archparser.md
  src/pages/development/timetracker.md
  src/pages/portfolio.md
  src/pages/portfolio/alm.md
  src/pages/portfolio/archparser.md
  src/pages/portfolio/casim.md
  src/pages/portfolio/color-picker.md
  src/pages/portfolio/component-library.md
  src/pages/portfolio/customer-engagement.md
  src/pages/portfolio/dashboard-analytics.md
  src/pages/portfolio/portfolio.json
  src/pages/portfolio/soccertracker.md
  src/pages/portfolio/task-it.md
  src/pages/portfolio/timetracker.md
  src/pages/timetraked/timetraked.html
  src/pages/timetraked/timetraked.json
  src/redirects.njk
Labels: minor

fix: update portfolio pages with new images
  src/assets/img-raw/casim-dashboard.png
  src/assets/img-raw/timetracker-generated-summary.png
  src/assets/img-raw/timetracker-loading-state-screen.png
  src/assets/img-raw/timetracker-loading-state.png
  src/assets/img-raw/timetracker-start.png
  src/assets/img-raw/timetracker-weekly-report.png
  src/assets/img/casim-dashboard-thumb.webp
  src/assets/img/casim-dashboard.webp
  src/assets/img/timetracker-generated-summary-thumb.webp
  src/assets/img/timetracker-generated-summary.webp
  src/assets/img/timetracker-loading-state-thumb.webp
  src/assets/img/timetracker-loading-state.webp
  src/assets/img/timetracker-start-thumb.webp
  src/assets/img/timetracker-start.webp
  src/assets/img/timetracker-weekly-report-thumb.webp
  src/assets/img/timetracker-weekly-report.webp
  src/index.md
  src/pages/portfolio/casim.md
Labels: minor

fix: update portfolio pages with new images
  src/assets/img-raw/casim-dashboard.png
  src/assets/img-raw/timetracker-generated-summary.png
  src/assets/img-raw/timetracker-loading-state-screen.png
  src/assets/img-raw/timetracker-loading-state.png
  src/assets/img-raw/timetracker-start.png
  src/assets/img-raw/timetracker-weekly-report.png
  src/assets/img/casim-dashboard-thumb.webp
  src/assets/img/casim-dashboard.webp
  src/assets/img/timetracker-generated-summary-thumb.webp
  src/assets/img/timetracker-generated-summary.webp
  src/assets/img/timetracker-loading-state-thumb.webp
  src/assets/img/timetracker-loading-state.webp
  src/assets/img/timetracker-start-thumb.webp
  src/assets/img/timetracker-start.webp
  src/assets/img/timetracker-weekly-report-thumb.webp
  src/assets/img/timetracker-weekly-report.webp
  src/index.md
  src/pages/portfolio/casim.md
Labels: minor

fix: update portfolio pages with new images c718ddb2f988dde3dad23391075638ac227596db
  assets/img/casim-dashboard-thumb.webp
  assets/img/casim-dashboard.webp
  assets/img/timetracker-generated-summary-thumb.webp
  assets/img/timetracker-generated-summary.webp
  assets/img/timetracker-loading-state-thumb.webp
  assets/img/timetracker-loading-state.webp
  assets/img/timetracker-start-thumb.webp
  assets/img/timetracker-start.webp
  assets/img/timetracker-weekly-report-thumb.webp
  assets/img/timetracker-weekly-report.webp
  case-studies/index.html
  feed.json
  index.html
  portfolio/casim/index.html
  portfolio/index.html
  sitemap.xml
  sw.js
Labels: none

feat: add animated trail hero and scroll reveals to landing page
  src/_includes/base.njk
  src/_includes/hero-scene.njk
  src/index.md
  src/js/landing.js
  src/sass/_landing.scss
  src/sass/style.scss
Labels: minor

feat: add trail hiker and topographic background to landing page
  scripts/generate-topo.js
  src/_includes/base.njk
  src/_includes/hero-scene.njk
  src/assets/img/topo.svg
  src/index.md
  src/js/landing.js
  src/sass/_landing.scss
Labels: minor

feat: extend topo background sitewide and add page motion to About, Portfolio, and Resume
  CLAUDE.md
  src/_includes/base.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/index.md
  src/js/motion.js
  src/js/topo.js
  src/pages/about/adam.md
  src/pages/about/resume.md
  src/pages/portfolio.md
  src/sass/_landing.scss
  src/sass/_topo.scss
  src/sass/style.scss
Labels: minor

feat: add trail hiker and topographic background to landing page
  scripts/generate-topo.js
  src/_includes/base.njk
  src/_includes/hero-scene.njk
  src/assets/img/topo.svg
  src/index.md
  src/js/landing.js
  src/sass/_landing.scss
Labels: minor

feat: extend topo background sitewide and add page motion to About, Portfolio, and Resume
  CLAUDE.md
  src/_includes/base.njk
  src/_includes/markdown.njk
  src/_includes/page.njk
  src/index.md
  src/js/motion.js
  src/js/topo.js
  src/pages/about/adam.md
  src/pages/about/resume.md
  src/pages/portfolio.md
  src/sass/_landing.scss
  src/sass/_topo.scss
  src/sass/style.scss
Labels: minor
