Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

Add a USES page
  docs/about/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/posts/howto/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/blog.njk
  src/_includes/footer.njk
  src/pages/uses.md
Labels: minor

Add another section
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  docs/uses/index.html
  src/pages/uses.md
Labels: minor

Add a USES page
  docs/about/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/posts/howto/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/blog.njk
  src/_includes/footer.njk
  src/pages/uses.md
Labels: minor

Add another section
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  docs/uses/index.html
  src/pages/uses.md
Labels: minor

Add another section eb349218af78c4e73a31c6ba32a2568bc9f5f6da
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  posts/howto/index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  uses/index.html
Labels: none

Fix overlow and placeholder text
  docs/feed.json
  docs/sitemap.xml
  docs/uses/index.html
  src/pages/uses.md
Labels: minor

Fix overlow and placeholder text 39fecef8cdd9666c47a969a8483545c91f7bb642
  feed.json
  sitemap.xml
  uses/index.html
Labels: none

Clean up code and improve footer e0ab37909f935e822a6abdb94ce46b9da94b6104
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  css/prism.css
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  feed/index.html
  howto/index.html
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  posts/posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  robots.txt
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  uses/index.html
  workflows/index.html
Labels: none

Add configuration files, site metadata, and pages f6e4efe5c0fe3d24abed16f8490443cab9123d10
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  howto/index.html
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  uses/index.html
  workflows/index.html
Labels: none

Update styling
  docs/css/print.css
  docs/css/prism.css
  docs/css/sitemap.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/sass/sitemap.scss
  src/sitemap.njk
Labels: minor

Add Microsoft Clarity to site
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/howto/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/blog.njk
Labels: minor

Add Microsoft Clarity to site
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/howto/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  docs/uses/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/blog.njk
Labels: minor

Add Microsoft Clarity to site 36fbd46cb5fe25f87605a8e8bbf1d09ee3bd9778
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  css/prism.css
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  howto/index.html
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  uses/index.html
  workflows/index.html
Labels: none

Create support.md
  src/pages/support.md
Labels: minor

Create marketing.md
  src/pages/marketing.md
Labels: minor

Update support.md
  src/pages/support.md
Labels: minor

Create support.md
  src/pages/support.md
Labels: minor

Create marketing.md
  src/pages/marketing.md
Labels: minor

Update support.md
  src/pages/support.md
Labels: minor

Update support.md d45f394a162b259126d21baee7b106f478632850
  feed.json
  marketing/index.html
  sitemap.xml
  support/index.html
Labels: none

Bump Stylelint and Bootstrap versions
  .gitignore
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
Labels: dependencies

Update packages and dependencies
  .gitignore
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update packages and dependencies
  .gitignore
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update packages and dependencies ae4026feffe0297fb9a3287f49f6ccfc4a741734
  css/style.css
  feed.json
  sitemap.xml
Labels: none

Update connect.md
  src/pages/connect.md
Labels: minor

Update connect.md
  src/pages/connect.md
Labels: minor

Update connect.md
  connect/index.html
  feed.json
  sitemap.xml
Labels: none

Replace Netlify references with Cloudflare
  README.md
  netlify.toml
Labels: none

Replace Netlify references with Cloudflare
  README.md
  netlify.toml
Labels: none

Replace Netlify references with Cloudflare b52538d417b3cf3d20df069bdca9bd5d70048269
  feed.json
  sitemap.xml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md ec982c4f5956f80ca6727e3eb3fe73b31aab511d
  feed.json
  sitemap.xml
Labels: none

Assorted updates af4bb13a5780054459939e0612f247aa0f940e3b
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  apps/gamesandthings/releases/index.html
  apps/gamesandthings/support/index.html
  apps/index.html
  apps/releases/index.html
  apps/support/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  howto/index.html
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  marketing/index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  uses/index.html
  workflows/index.html
Labels: none

Add Privacy and Contact pages
  docs/apps/privacy/index.html
  docs/contact/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/contact.md
  src/pages/gamesandthings/privacy/index.md
  src/pages/gamesandthings/privacy/privacy.json
Labels: minor

Add Privacy and Contact pages
  docs/apps/privacy/index.html
  docs/contact/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/contact.md
  src/pages/gamesandthings/privacy/index.md
  src/pages/gamesandthings/privacy/privacy.json
Labels: minor

Add Privacy and Contact pages df2a3e92428fe2c2719944162c16bd773697cd07
  apps/privacy/index.html
  contact/index.html
  feed.json
  sitemap.xml
Labels: none

Rename gamesandthings to collectsomemore
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/privacy/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/collectsomemore/support/index.html
  docs/apps/gamesandthings/releases/index.html
  docs/apps/support/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/development/index.html
  docs/favicon.png
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  docs/support/index.html
  social/pages.json
  src/pages/collectsomemore/collectsomemore.json
  src/pages/collectsomemore/index.md
  src/pages/collectsomemore/privacy/index.md
  src/pages/collectsomemore/privacy/privacy.json
  src/pages/collectsomemore/releases/index.md
  src/pages/collectsomemore/releases/releases.json
  src/pages/collectsomemore/support/index.md
  src/pages/collectsomemore/support/support.json
  src/pages/development.md
  src/pages/gamesandthings/privacy/privacy.json
  src/pages/gamesandthings/releases/releases.json
  src/pages/gamesandthings/support/support.json
  src/pages/reference/reference.md
Labels: minor

Rename gamesandthings to collectsomemore
  docs/apps/collectsomemore/index.html
  docs/apps/collectsomemore/privacy/index.html
  docs/apps/collectsomemore/releases/index.html
  docs/apps/collectsomemore/support/index.html
  docs/apps/gamesandthings/releases/index.html
  docs/apps/support/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/development/index.html
  docs/favicon.png
  docs/feed.json
  docs/reference/index.html
  docs/sitemap.xml
  docs/support/index.html
  social/pages.json
  src/pages/collectsomemore/collectsomemore.json
  src/pages/collectsomemore/index.md
  src/pages/collectsomemore/privacy/index.md
  src/pages/collectsomemore/privacy/privacy.json
  src/pages/collectsomemore/releases/index.md
  src/pages/collectsomemore/releases/releases.json
  src/pages/collectsomemore/support/index.md
  src/pages/collectsomemore/support/support.json
  src/pages/development.md
  src/pages/gamesandthings/privacy/privacy.json
  src/pages/gamesandthings/releases/releases.json
  src/pages/gamesandthings/support/support.json
  src/pages/reference/reference.md
Labels: minor

Rename gamesandthings to collectsomemore a79cd8026596223f1b59aaa1ea55e2b36228142c
  apps/collectsomemore/index.html
  apps/collectsomemore/privacy/index.html
  apps/collectsomemore/releases/index.html
  apps/collectsomemore/support/index.html
  apps/gamesandthings/releases/index.html
  apps/support/index.html
  css/prism.css
  development/index.html
  favicon.png
  feed.json
  reference/index.html
  sitemap.xml
  support/index.html
Labels: none

.github/labeler.yml:

minor:
  - src/_data/**
  - src/_generate/**
  - src/_includes/**
  - src/img/**
  - src/js/**
  - src/pages/**
  - src/sass/**
  - src/webfonts/**
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**
