Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action, patch

patch: update Eleventy config
  .eleventy.js
  CHANGELOG.md
  css/jolicoeur.css
  css/site.css
  docs/cache-polyfill.js
  docs/favicon-16x16.png
  docs/favicon.ico
  docs/faviconData.json
  docs/manifest.json
  docs/sw.js
  src/cache-polyfill.js
  src/faviconData.json
  src/js/jolicoeur.js
  src/manifest.json
  src/sw.js
Labels: minor, patch

fix: update Designs page
  docs/css/style.css
  docs/design/index.html
  docs/feed/feed.xml
  docs/img/Bootstrap5SocialImage.png
  docs/img/SC_demo.png
  docs/img/SC_logo_cloud.png
  docs/img/SC_logo_cloud2.png
  docs/img/Scouters.png
  src/img/Bootstrap5SocialImage.png
  src/img/SC_demo.png
  src/img/SC_logo_cloud.png
  src/img/SC_logo_cloud2.png
  src/img/Scouters.png
  src/pages/design.md
Labels: minor

patch: fix capitalization of image name
  docs/css/style.css
  src/pages/design.md
Labels: none

rebuild docs
  docs/css/style.css
  docs/design/index.html
  docs/feed/feed.xml
Labels: none

[ImgBot] Optimize images
  docs/img/Bootstrap5SocialImage.png
  docs/img/District25Desktop.png
  docs/img/SC_demo.png
  docs/img/SC_logo_cloud.png
  docs/img/SC_logo_cloud2.png
  docs/img/Timetrak.png
  docs/img/bulb.png
  docs/img/headshot.jpg
  docs/img/screenshot-patternflyorg.png
  sketch/homepage/images/0f8f7859969f89d70409e9bdada104fae481d5a9.png
  sketch/homepage/images/26068946441a370258284eba852fafc98d700972.png
  sketch/homepage/images/407b8518bc4cfec0776e2ed65741584d5d00038d.png
  sketch/homepage/images/583020c7841ba76759a0caec11ee1ff3d85f6ae6.png
  sketch/homepage/images/a25472bd5539ac1d052a87d40c481e0132961bf0.png
  sketch/homepage/images/b26c6a4ed5303f4375dd8f4946cd91d3e65533e7.png
  sketch/homepage/images/f0909af771ce76edcf9b5c8e6f1ef84f210cfec1.png
  sketch/homepage/images/f485dc6ccdfea09db33afb779e9f0586130f5151.png
  src/img/Bootstrap5SocialImage.png
  src/img/District25Desktop.png
  src/img/SC_demo.png
  src/img/SC_logo_cloud.png
  src/img/SC_logo_cloud2.png
  src/img/Timetrak.png
  src/img/bulb.png
  src/img/headshot.jpg
  src/img/screenshot-patternflyorg.png
Labels: minor

.github/labeler.yml:

minor:
  - ./src/**/*.html
  - ./src/img/**
  - ./src/scss/**/*.scss
  - ./src/js/*.js
dependencies:
  - package-lock.json
github-action:
  - .github/**
patch:
  - package-lock.json
  - CHANGELOG.md
  - CNAME
