Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

patch: fix release-drafter
  .github/workflows/release-drafter.yml
Labels: github-action

[ImgBot] Optimize images
  docs/img/Bootstrap5SocialImage.png
  docs/img/District25Desktop.png
  docs/img/SC_demo.png
  docs/img/SC_logo_cloud.png
  docs/img/SC_logo_cloud2.png
  docs/img/Timetrak.png
  docs/img/atom-pf-syntax.png
  docs/img/atom-pf-theme.png
  docs/img/bulb.png
  docs/img/fabric8-package.png
  docs/img/headshot.jpg
  docs/img/screenshot-patternflyorg.png
  sketch/homepage/images/0f8f7859969f89d70409e9bdada104fae481d5a9.png
  sketch/homepage/images/26068946441a370258284eba852fafc98d700972.png
  sketch/homepage/images/407b8518bc4cfec0776e2ed65741584d5d00038d.png
  sketch/homepage/images/583020c7841ba76759a0caec11ee1ff3d85f6ae6.png
  sketch/homepage/images/a25472bd5539ac1d052a87d40c481e0132961bf0.png
  sketch/homepage/images/b26c6a4ed5303f4375dd8f4946cd91d3e65533e7.png
  sketch/homepage/images/f0909af771ce76edcf9b5c8e6f1ef84f210cfec1.png
  sketch/homepage/images/f485dc6ccdfea09db33afb779e9f0586130f5151.png
  src/img/Bootstrap5SocialImage.png
  src/img/District25Desktop.png
  src/img/SC_demo.png
  src/img/SC_logo_cloud.png
  src/img/SC_logo_cloud2.png
  src/img/Timetrak.png
  src/img/atom-pf-syntax.png
  src/img/atom-pf-theme.png
  src/img/bulb.png
  src/img/fabric8-package.png
  src/img/headshot.jpg
  src/img/screenshot-patternflyorg.png
Labels: minor

[ImgBot] Optimize images
  docs/img/Bootstrap5SocialImage.png
  docs/img/District25Desktop.png
  docs/img/SC_demo.png
  docs/img/SC_logo_cloud.png
  docs/img/SC_logo_cloud2.png
  docs/img/Timetrak.png
  docs/img/atom-pf-syntax.png
  docs/img/atom-pf-theme.png
  docs/img/bulb.png
  docs/img/fabric8-package.png
  docs/img/headshot.jpg
  docs/img/screenshot-patternflyorg.png
  sketch/homepage/images/0f8f7859969f89d70409e9bdada104fae481d5a9.png
  sketch/homepage/images/26068946441a370258284eba852fafc98d700972.png
  sketch/homepage/images/407b8518bc4cfec0776e2ed65741584d5d00038d.png
  sketch/homepage/images/583020c7841ba76759a0caec11ee1ff3d85f6ae6.png
  sketch/homepage/images/a25472bd5539ac1d052a87d40c481e0132961bf0.png
  sketch/homepage/images/b26c6a4ed5303f4375dd8f4946cd91d3e65533e7.png
  sketch/homepage/images/f0909af771ce76edcf9b5c8e6f1ef84f210cfec1.png
  sketch/homepage/images/f485dc6ccdfea09db33afb779e9f0586130f5151.png
  src/img/Bootstrap5SocialImage.png
  src/img/District25Desktop.png
  src/img/SC_demo.png
  src/img/SC_logo_cloud.png
  src/img/SC_logo_cloud2.png
  src/img/Timetrak.png
  src/img/atom-pf-syntax.png
  src/img/atom-pf-theme.png
  src/img/bulb.png
  src/img/fabric8-package.png
  src/img/headshot.jpg
  src/img/screenshot-patternflyorg.png
Labels: minor

fix: update Eleventy dependencies
  docs/css/style.css
  package-lock.json
  package.json
Labels: dependencies

fix: update Eleventy dependencies
  docs/css/style.css
  package-lock.json
  package.json
Labels: dependencies

[ImgBot] Optimize images
  docs/img/TLG2012.jpg
  docs/webfonts/fa-brands-400.svg
  docs/webfonts/fa-regular-400.svg
  docs/webfonts/fa-solid-900.svg
  src/img/TLG2012.jpg
  src/webfonts/fa-brands-400.svg
  src/webfonts/fa-regular-400.svg
  src/webfonts/fa-solid-900.svg
Labels: minor

[ImgBot] Optimize images
  docs/img/TLG2012.jpg
  docs/webfonts/fa-brands-400.svg
  docs/webfonts/fa-regular-400.svg
  docs/webfonts/fa-solid-900.svg
  src/img/TLG2012.jpg
  src/webfonts/fa-brands-400.svg
  src/webfonts/fa-regular-400.svg
  src/webfonts/fa-solid-900.svg
Labels: minor

[ImgBot] Optimize images
  docs/img/ALM_planner.png
  docs/img/ALM_step1.png
  docs/img/ALM_step2.png
  docs/img/ALM_step3.png
  docs/img/ALM_wireframe.png
  docs/img/ALM_workflow.png
  docs/img/CEA_ClientDetail.png
  docs/img/CEA_Dashboard.png
  docs/img/CEA_Engagement.png
  docs/img/CEA_Navigation.png
  docs/img/CEA_Settings.png
  docs/img/CEA_wireframe_first.png
  docs/img/ClientDetail.png
  docs/img/CustomerEngagementPage.png
  docs/img/Dashboard Page.png
  docs/img/DashboardPage.png
  docs/img/OSIO-laptop-screen-1200.png
  docs/img/Sitemap_alpha.png
  src/img/ALM_planner.png
  src/img/ALM_step1.png
  src/img/ALM_step2.png
  src/img/ALM_step3.png
  src/img/ALM_wireframe.png
  src/img/ALM_workflow.png
  src/img/CEA_ClientDetail.png
  src/img/CEA_Dashboard.png
  src/img/CEA_Engagement.png
  src/img/CEA_Navigation.png
  src/img/CEA_Settings.png
  src/img/CEA_wireframe_first.png
  src/img/OSIO-laptop-screen-1200.png
  src/img/Sitemap_alpha.png
Labels: minor

[ImgBot] Optimize images
  docs/img/ALM_planner.png
  docs/img/ALM_step1.png
  docs/img/ALM_step2.png
  docs/img/ALM_step3.png
  docs/img/ALM_wireframe.png
  docs/img/ALM_workflow.png
  docs/img/CEA_ClientDetail.png
  docs/img/CEA_Dashboard.png
  docs/img/CEA_Engagement.png
  docs/img/CEA_Navigation.png
  docs/img/CEA_Settings.png
  docs/img/CEA_wireframe_first.png
  docs/img/ClientDetail.png
  docs/img/CustomerEngagementPage.png
  docs/img/Dashboard Page.png
  docs/img/DashboardPage.png
  docs/img/OSIO-laptop-screen-1200.png
  docs/img/Sitemap_alpha.png
  src/img/ALM_planner.png
  src/img/ALM_step1.png
  src/img/ALM_step2.png
  src/img/ALM_step3.png
  src/img/ALM_wireframe.png
  src/img/ALM_workflow.png
  src/img/CEA_ClientDetail.png
  src/img/CEA_Dashboard.png
  src/img/CEA_Engagement.png
  src/img/CEA_Navigation.png
  src/img/CEA_Settings.png
  src/img/CEA_wireframe_first.png
  src/img/OSIO-laptop-screen-1200.png
  src/img/Sitemap_alpha.png
Labels: minor

More updates
  docs/design/index.html
  docs/feed/feed.xml
  src/pages/design.md
Labels: minor

More updates
  docs/design/index.html
  docs/feed/feed.xml
  src/pages/design.md
Labels: minor

[ImgBot] Optimize images
  docs/img/CEA_AssetExamples.png
  docs/img/CEA_Dashboard.png
  docs/img/CEA_Palette.png
  docs/img/macbook2.svg
  src/img/CEA_AssetExamples.png
  src/img/CEA_Dashboard.png
  src/img/CEA_Palette.png
  src/img/macbook2.svg
Labels: minor

Update scrollbar styling
  docs/CNAME
  docs/about/index.html
  docs/all.min.css
  docs/code/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement copy/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/openshiftio/index.html
  docs/designs/timetrak/index.html
  docs/designs/visual-financial-dashboard/index.html
  docs/designs/wireframes-financial-dashboard/index.html
  docs/favicon-16x16.png
  docs/favicon.ico
  docs/feed/feed.xml
  docs/history/district25/index.html
  docs/history/timetrak/index.html
  docs/img/ClientDetail.png
  docs/img/CustomerEngagementPage.png
  docs/img/Dashboard Page.png
  docs/img/DashboardPage.png
  docs/img/Dashboard_Overview.pdf
  docs/img/lighthouse-scores-desktop.png
  docs/img/lighthouse-scores-mobile.png
  docs/index.html
  docs/packages/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/timetrak/index.html
  social/pages.json
  src/pages/designs/alm.md
  src/sass/_general.scss
Labels: minor

Update scrollbar styling
  docs/CNAME
  docs/about/index.html
  docs/all.min.css
  docs/code/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement copy/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/openshiftio/index.html
  docs/designs/timetrak/index.html
  docs/designs/visual-financial-dashboard/index.html
  docs/designs/wireframes-financial-dashboard/index.html
  docs/favicon-16x16.png
  docs/favicon.ico
  docs/feed/feed.xml
  docs/history/district25/index.html
  docs/history/timetrak/index.html
  docs/img/ClientDetail.png
  docs/img/CustomerEngagementPage.png
  docs/img/Dashboard Page.png
  docs/img/DashboardPage.png
  docs/img/Dashboard_Overview.pdf
  docs/img/lighthouse-scores-desktop.png
  docs/img/lighthouse-scores-mobile.png
  docs/index.html
  docs/packages/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/timetrak/index.html
  social/pages.json
  src/pages/designs/alm.md
  src/sass/_general.scss
Labels: minor

Update sitemap
  docs/feed/feed.xml
  docs/sitemap.xml
  social/pages.json
Labels: none

Create CNAME
  docs/CNAME
Labels: none

Update CNAME
  docs/CNAME
Labels: none

Scrollbar color
  docs/css/style.css
  src/sass/_general.scss
Labels: minor

[ImgBot] Optimize images
  docs/img/CEA_AssetExamples.png
  docs/img/CEA_Dashboard.png
  docs/img/CEA_Palette.png
  docs/img/macbook2.svg
  src/img/CEA_AssetExamples.png
  src/img/CEA_Dashboard.png
  src/img/CEA_Palette.png
  src/img/macbook2.svg
Labels: minor

Fix 404 error
  .eleventy.js
  README.md
  docs/404.html
  src/404.html
Labels: minor

Fix 404 error
  .eleventy.js
  README.md
  docs/404.html
  src/404.html
Labels: minor

Update Analytics
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/base.njk
Labels: minor

Update Analytics
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/base.njk
Labels: minor

Add proper meta data for social sharing
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/img/AdamJolicoeur_social.png
  docs/index.html
  docs/prototypes/index.html
  social/pages.json
  social/template.html
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/home.njk
  src/img/AdamJolicoeur_social.png
  src/pages/design.md
  src/pages/prototypes.md
Labels: minor

Add proper meta data for social sharing
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/img/AdamJolicoeur_social.png
  docs/index.html
  docs/prototypes/index.html
  social/pages.json
  social/template.html
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/home.njk
  src/img/AdamJolicoeur_social.png
  src/pages/design.md
  src/pages/prototypes.md
Labels: minor

update: Bump Eleventy dependency versions
  package-lock.json
  package.json
Labels: dependencies

update: Bump numerous dependency versions
  package-lock.json
  package.json
Labels: dependencies

update: Bump Stylelint versions and dependencies
  package-lock.json
  package.json
Labels: dependencies

update: set new date in footer
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
Labels: none

fix: netlify build command
  docs/css/fontawesome.css
  docs/css/style.css
  netlify.toml
Labels: none

update: Bump numerous dependency versions
  package-lock.json
  package.json
Labels: dependencies

update: set new date in footer
  docs/about/index.html
  docs/code/index.html
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/index.html
  docs/sitemap.xml
  social/pages.json
Labels: none

update: Bump Stylelint versions and dependencies
  package-lock.json
  package.json
Labels: dependencies

fix: netlify build command
  docs/css/fontawesome.css
  docs/css/style.css
  netlify.toml
Labels: none

update: Bump Eleventy dependency versions
  package-lock.json
  package.json
Labels: dependencies

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: github-action

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: github-action

Create Alfred Workflows page
  Alfred/workflows.md
Labels: none

Update workflows.md
  Alfred/workflows.md
Labels: none

Rename Alfred/workflows.md to src/pages/Alfred/workflows.md
  src/pages/Alfred/workflows.md
Labels: minor
