Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

Create CNAME
  CNAME
Labels: none

Update employment and contact information
  docs/about/index.html
  docs/contact/index.html
  docs/img/avatar-hires.jpg
  docs/img/headshot-hires.jpg
  docs/index.html
  docs/resume/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/img/avatar-hires.jpg
  src/img/headshot-hires.jpg
  src/pages/about.md
  src/pages/contact.md
  src/pages/resume.md
Labels: minor

Update employment and contact information (#252)
  docs/about/index.html
  docs/contact/index.html
  docs/img/avatar-hires.jpg
  docs/img/headshot-hires.jpg
  docs/index.html
  docs/resume/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/home.njk
  src/img/avatar-hires.jpg
  src/img/headshot-hires.jpg
  src/pages/about.md
  src/pages/contact.md
  src/pages/resume.md
Labels: minor

Update employment and contact information (#252) 65c04333cc90d3e6d041ae88eba9a89664584ad5
  CNAME
  about/index.html
  contact/index.html
  img/avatar-hires.jpg
  img/headshot-hires.jpg
  index.html
  resume/index.html
  sitemap.xml
Labels: none

Create CNAME
  CNAME
Labels: none

Move CNAME for builds
  src/CNAME
Labels: none

Move CNAME for builds (#253)
  src/CNAME
Labels: none

Move CNAME for builds (#253)
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Update Eleventy config
  .eleventy.js
Labels: none

Update Eleventy config (#254)
  .eleventy.js
Labels: none

Update Eleventy config (#254) d00d452fcfb7b14005136afdc051691132f4cd46
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Deployment fix
  CNAME
  docs/CNAME
  docs/sitemap.xml
  social/pages.json
Labels: none

Deployment fix (#255)
  CNAME
  docs/CNAME
  docs/sitemap.xml
  social/pages.json
Labels: none

Deployment fix (#255) 08b081bf0822cab38df0232fffbf4ca97b8e356a
  CNAME
  sitemap.xml
Labels: none

Add Task-It design journey
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/img/track-it_flow-errors-forms.png
  docs/img/track-it_flow-errors-general.png
  docs/img/track-it_flow-success.png
  docs/img/track-it_task-details_mockup1.png
  docs/img/track-it_task-details_mockup2.png
  docs/img/track-it_task-details_mockup3.png
  docs/img/track-it_task-details_mockup4.png
  docs/img/track-it_task-details_wireframe.png
  docs/img/track-it_user-flow.png
  docs/img/track-it_user-states.png
  docs/img/track-it_user-survey.png
  docs/sitemap.xml
  social/pages.json
  src/img/track-it_flow-errors-forms.png
  src/img/track-it_flow-errors-general.png
  src/img/track-it_flow-success.png
  src/img/track-it_task-details_mockup1.png
  src/img/track-it_task-details_mockup2.png
  src/img/track-it_task-details_mockup3.png
  src/img/track-it_task-details_mockup4.png
  src/img/track-it_task-details_wireframe.png
  src/img/track-it_user-flow.png
  src/img/track-it_user-states.png
  src/img/track-it_user-survey.png
  src/pages/designs.md
  src/pages/designs/alm.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/district25.md
  src/pages/designs/task-it.md
  src/pages/designs/timetrak.md
Labels: minor

Update bullet points for research methods
  docs/designs/task-it/index.html
  src/pages/designs/task-it.md
Labels: minor

Update Designs page with new content
  docs/css/style.css
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/img/task-it_flow-errors-forms.png
  docs/img/task-it_flow-errors-general.png
  docs/img/task-it_flow-success.png
  docs/img/task-it_product.png
  docs/img/task-it_task-details_mockup1.png
  docs/img/task-it_task-details_mockup2.png
  docs/img/task-it_task-details_mockup3.png
  docs/img/task-it_task-details_mockup4.png
  docs/img/task-it_task-details_wireframe.png
  docs/img/task-it_user-flow.png
  docs/img/task-it_user-states.png
  docs/img/task-it_user-survey.png
  src/img/task-it_flow-errors-forms.png
  src/img/task-it_flow-errors-general.png
  src/img/task-it_flow-success.png
  src/img/task-it_product.png
  src/img/task-it_task-details_mockup1.png
  src/img/task-it_task-details_mockup2.png
  src/img/task-it_task-details_mockup3.png
  src/img/task-it_task-details_mockup4.png
  src/img/task-it_task-details_wireframe.png
  src/img/task-it_user-flow.png
  src/img/task-it_user-states.png
  src/img/task-it_user-survey.png
  src/pages/designs.md
  src/pages/designs/task-it.md
  src/sass/_cards.scss
  src/sass/style.scss
Labels: minor

Add Task-It design journey (#256)
  css/style.css
  designs/index.html
  designs/task-it/index.html
  img/task-it_flow-errors-forms.png
  img/task-it_flow-errors-general.png
  img/task-it_flow-success.png
  img/task-it_product.png
  img/task-it_task-details_mockup1.png
  img/task-it_task-details_mockup2.png
  img/task-it_task-details_mockup3.png
  img/task-it_task-details_mockup4.png
  img/task-it_task-details_wireframe.png
  img/task-it_user-flow.png
  img/task-it_user-states.png
  img/task-it_user-survey.png
  img/track-it_flow-errors-forms.png
  img/track-it_flow-errors-general.png
  img/track-it_flow-success.png
  img/track-it_task-details_mockup1.png
  img/track-it_task-details_mockup2.png
  img/track-it_task-details_mockup3.png
  img/track-it_task-details_mockup4.png
  img/track-it_task-details_wireframe.png
  img/track-it_user-flow.png
  img/track-it_user-states.png
  img/track-it_user-survey.png
  sitemap.xml
Labels: none

Add RSS Feed configuration
  .eleventy.js
  docs/feed.json
  docs/feed/feed.xml
  docs/img/track-it_flow-errors-forms.png
  docs/img/track-it_flow-errors-general.png
  docs/img/track-it_flow-success.png
  docs/img/track-it_task-details_mockup1.png
  docs/img/track-it_task-details_mockup2.png
  docs/img/track-it_task-details_mockup3.png
  docs/img/track-it_task-details_mockup4.png
  docs/img/track-it_task-details_wireframe.png
  docs/img/track-it_user-flow.png
  docs/img/track-it_user-states.png
  docs/img/track-it_user-survey.png
  docs/sitemap.xml
  social/pages.json
  src/feed.njk
  src/pages/designs/customer-engagement.md
  src/pages/designs/designs.json
  src/pages/designs/task-it.md
  src/pages/pages.json
  src/pages/testimonials/testimonials.json
Labels: minor

Update: Remove content_html from feed
  docs/feed.json
  src/feed.njk
Labels: minor

Update: fix fqdn resolution
  docs/css/fontawesome.css
  docs/css/style.css
  docs/feed.json
  src/feed.njk
Labels: minor

Add RSS Feed configuration (#257)
  .eleventy.js
  docs/css/fontawesome.css
  docs/css/style.css
  docs/feed.json
  docs/feed/feed.xml
  docs/img/track-it_flow-errors-forms.png
  docs/img/track-it_flow-errors-general.png
  docs/img/track-it_flow-success.png
  docs/img/track-it_task-details_mockup1.png
  docs/img/track-it_task-details_mockup2.png
  docs/img/track-it_task-details_mockup3.png
  docs/img/track-it_task-details_mockup4.png
  docs/img/track-it_task-details_wireframe.png
  docs/img/track-it_user-flow.png
  docs/img/track-it_user-states.png
  docs/img/track-it_user-survey.png
  docs/sitemap.xml
  social/pages.json
  src/feed.njk
  src/pages/designs/customer-engagement.md
  src/pages/designs/designs.json
  src/pages/designs/task-it.md
  src/pages/pages.json
  src/pages/testimonials/testimonials.json
Labels: minor

Add RSS Feed configuration (#257)
  feed.json
  feed/feed.xml
  img/track-it_flow-errors-forms.png
  img/track-it_flow-errors-general.png
  img/track-it_flow-success.png
  img/track-it_task-details_mockup1.png
  img/track-it_task-details_mockup2.png
  img/track-it_task-details_mockup3.png
  img/track-it_task-details_mockup4.png
  img/track-it_task-details_wireframe.png
  img/track-it_user-flow.png
  img/track-it_user-states.png
  img/track-it_user-survey.png
  sitemap.xml
Labels: none

Update meta info
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
Labels: minor

Update meta info (#258)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
Labels: minor

Update meta info (#258)
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/index.html
  feed.json
  feed/feed.xml
  index.html
  prototypes/prototypes/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Update sitemap and robot config
  docs/css/fa/brands.css
  docs/css/fa/fontawesome.css
  docs/css/fa/regular.css
  docs/css/fa/solid.css
  docs/css/fa/v4-shims.css
  docs/css/fontawesome.css
  docs/css/style.css
  docs/feed/feed.xml
  docs/sitemap.xml
  src/_generate/feed.njk
  src/_generate/sitemap.njk
  src/robots.txt
  src/sitemap.njk
Labels: minor

missing css folder
  docs/css/fa/brands.css
  docs/css/fa/fontawesome.css
  docs/css/fa/regular.css
  docs/css/fa/solid.css
  docs/css/fa/v4-shims.css
  docs/css/fontawesome.css
  docs/css/style.css
Labels: none

Update sitemap and robot config (#259)
  docs/css/fontawesome.css
  docs/feed/feed.xml
  docs/sitemap.xml
  src/_generate/feed.njk
  src/_generate/sitemap.njk
  src/robots.txt
  src/sitemap.njk
Labels: minor

Update sitemap and robot config (#259)
  feed/feed.xml
  sitemap.xml
Labels: none

Update Designs page and clean up directory
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/feed.json
  docs/presentations/colorPicker/index.html
  docs/sitemap.xml
  src/pages/designs.md
  src/pages/presentations/colorPicker/colorPicker.json
  src/pages/presentations/portfolio/portfolio.json
  src/pages/presentations/presentations.json
Labels: minor

Fix broken link
  docs/designs/index.html
  src/pages/designs.md
Labels: minor

Update 404 page
  docs/404.html
  docs/feed.json
  docs/img/404_outdoors.svg
  docs/sitemap.xml
  package.json
  social/pages.json
  src/404.html
  src/img/404_outdoors.svg
Labels: minor

Update 404 page (#261)
  docs/404.html
  docs/feed.json
  docs/img/404_outdoors.svg
  docs/sitemap.xml
  package.json
  social/pages.json
  src/404.html
  src/img/404_outdoors.svg
Labels: minor

Update 404 page (#261)
  404.html
  feed.json
  img/404_outdoors.svg
  sitemap.xml
Labels: none

Add Netlify Lighthouse
  docs/sitemap.xml
  netlify.toml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies

Update config file
  netlify.toml
Labels: none

Add Netlify Lighthouse (#262)
  docs/sitemap.xml
  netlify.toml
  package-lock.json
  package.json
  social/pages.json
Labels: dependencies
