Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

Try to fix build
  .github/workflows/eleventy_build.yml
Labels: github-action

Try to fix build
  .github/workflows/eleventy_build.yml
Labels: github-action

Update dependencies 4e28552b342cd4ecebff58b7a0249a5ec0de4360
  CNAME
  cache-polyfill.js
  feed.json
  js/jolicoeur.js
  keybase.txt
  manifest.json
  sitemap.xml
  sw.js
Labels: none

fix: update robots.txt
  docs/feed.json
  docs/robots.txt
  docs/sitemap.xml
  social/pages.json
  src/robots.njk
  src/robots.txt
Labels: minor

fix: update robots.txt
  docs/feed.json
  docs/robots.txt
  docs/sitemap.xml
  social/pages.json
  src/robots.njk
  src/robots.txt
Labels: minor

fix: update robots.txt 17313199cfae9db209b30ac5d6bf476889caed32
  feed.json
  robots.txt
  sitemap.xml
Labels: none

patch: update node version
  .nvmrc
  package-lock.json
Labels: dependencies

minor: add Claude Code file
  CLAUDE.md
Labels: none

major: update presentations with new carousel
  README.md
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/apps/privacy/index.html
  docs/apps/releases/index.html
  docs/apps/support/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/uses/index.html
  src/_includes/base.njk
  src/_includes/carousel.njk
  src/_includes/footer.njk
  src/index.md
  src/pages/presentations/colorPicker/color-picker.md
  src/pages/presentations/portfolio/portfolio.md
  src/sass/_gallery.scss
  src/sass/_spacing.scss
  src/sass/style.scss
Labels: minor

major: convert credits and markdown
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  src/_includes/base.njk
  src/_includes/markdown.njk
  src/pages/credits/index.md
  src/sass/_typography.scss
Labels: minor

fix: linting errors
  .stylelintignore
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/task-it/index.html
  docs/feed.json
  docs/sass/print.css
  docs/sass/prism.css
  docs/sass/style.css
  docs/sitemap.xml
  package.json
  src/pages/designs/alm.md
  src/pages/designs/component-library.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/task-it.md
  src/sass/_animations.scss
  src/sass/_buttons.scss
  src/sass/_cards.scss
  src/sass/_fonts.scss
  src/sass/_gallery.scss
  src/sass/_layout.scss
  src/sass/_navigation.scss
  src/sass/_typography.scss
  src/sass/_variables.scss
  src/sass/print.scss
  src/sass/prism.scss
  src/sass/style.scss
Labels: minor

major: update resume
  .eleventy.js
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/assets/AdamJolicoeur-Resume.pdf
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sitemap.xml
  docs/uses/index.html
  src/_includes/base.njk
  src/assets/AdamJolicoeur-Resume.pdf
  src/pages/about/resume.md
Labels: minor

patch: node version
  .nvmrc
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
Labels: dependencies

patch: node version
  .nvmrc
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
Labels: dependencies

patch: eleventy build node version
  .github/workflows/eleventy_build.yml
  package.json
Labels: github-action

patch: eleventy build node version
  .github/workflows/eleventy_build.yml
  package.json
Labels: github-action

fix: update social images and screenshots
  docs/about/resume/index.html
  docs/assets/img/social_template-thumb.jpg
  docs/assets/img/social_template-thumb.webp
  docs/assets/img/social_template.jpg
  docs/assets/img/social_template.webp
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/manifest.json
  package.json
  src/assets/img-raw/AdamJolicoeur_social.png
  src/assets/img-raw/screenshots/screenshot_about.jpeg
  src/assets/img-raw/screenshots/screenshot_about.png
  src/assets/img-raw/screenshots/screenshot_designs.jpeg
  src/assets/img-raw/screenshots/screenshot_development.jpeg
  src/assets/img-raw/screenshots/screenshot_homepage-wide.jpeg
  src/assets/img-raw/screenshots/screenshot_homepage-wide.png
  src/assets/img-raw/screenshots/screenshot_homepage.jpeg
  src/assets/img-raw/social_template.png
  src/assets/img/social_template-thumb.jpg
  src/assets/img/social_template-thumb.webp
  src/assets/img/social_template.jpg
  src/assets/img/social_template.webp
  src/manifest.json
  src/pages/about/resume.md
Labels: minor

fix: update site description
  docs/archives/archives/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/template.html
  src/_data/meta.js
Labels: minor

fix: update site description
  docs/archives/archives/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/feed.json
  docs/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/template.html
  src/_data/meta.js
Labels: minor

fix: update social images and screenshots
  docs/about/resume/index.html
  docs/assets/img/social_template-thumb.jpg
  docs/assets/img/social_template-thumb.webp
  docs/assets/img/social_template.jpg
  docs/assets/img/social_template.webp
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/manifest.json
  package.json
  src/assets/img-raw/AdamJolicoeur_social.png
  src/assets/img-raw/screenshots/screenshot_about.jpeg
  src/assets/img-raw/screenshots/screenshot_about.png
  src/assets/img-raw/screenshots/screenshot_designs.jpeg
  src/assets/img-raw/screenshots/screenshot_development.jpeg
  src/assets/img-raw/screenshots/screenshot_homepage-wide.jpeg
  src/assets/img-raw/screenshots/screenshot_homepage-wide.png
  src/assets/img-raw/screenshots/screenshot_homepage.jpeg
  src/assets/img-raw/social_template.png
  src/assets/img/social_template-thumb.jpg
  src/assets/img/social_template-thumb.webp
  src/assets/img/social_template.jpg
  src/assets/img/social_template.webp
  src/manifest.json
  src/pages/about/resume.md
Labels: minor

fix: update site description 2b925ad5b73a563da00869ec4d44539153718415
  about/resume/index.html
  archives/archives/index.html
  assets/img/social_template-thumb.jpg
  assets/img/social_template-thumb.webp
  assets/img/social_template.jpg
  assets/img/social_template.webp
  credits/index.html
  feed.json
  index.html
  manifest.json
  presentations/portfolio/index.html
  sitemap.xml
Labels: none

fix: add Explore More to footer
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sitemap.xml
  docs/uses/index.html
  src/_includes/footer.njk
  src/sass/_footer.scss
  src/sass/_typography.scss
Labels: minor

fix: featured work and navigation
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sass/style.css
  docs/uses/index.html
  src/_includes/base.njk
  src/_includes/footer.njk
  src/index.md
  src/pages/about/resume.md
  src/pages/designs/component-library.md
  src/pages/designs/task-it.md
  src/sass/_typography.scss
Labels: minor

fix: featured work and navigation
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sass/style.css
  docs/uses/index.html
  src/_includes/base.njk
  src/_includes/footer.njk
  src/index.md
  src/pages/about/resume.md
  src/pages/designs/component-library.md
  src/pages/designs/task-it.md
  src/sass/_typography.scss
Labels: minor

fix: add Explore More to footer
  docs/about/adam/index.html
  docs/about/resume/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sitemap.xml
  docs/uses/index.html
  src/_includes/footer.njk
  src/sass/_footer.scss
  src/sass/_typography.scss
Labels: minor

fix: featured work and navigation 62c205c624b583885bf2f18d854538d789ca8e2c
  about/adam/index.html
  about/resume/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  credits/index.html
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/component-library/index.html
  designs/customer-engagement/index.html
  designs/dashboard-analytics/index.html
  designs/task-it/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  index.html
  portfolio/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  sass/style.css
  sitemap.xml
  uses/index.html
Labels: none

fix: add pages for various Apps
  docs/about/adam/index.html
  docs/apps/TimeTrackerPro/index.html
  docs/apps/gamesandthings/index.html
  docs/apps/moonsilverwaypoints/index.html
  docs/apps/soccergametracker/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sass/style.css
  docs/sitemap.xml
  docs/uses/index.html
  src/_includes/footer.njk
  src/pages/apps/TimeTrackerPro.md
  src/pages/apps/apps.json
  src/pages/apps/gamesandthings.md
  src/pages/apps/moonsilverwaypoints.md
  src/pages/apps/soccergametracker.md
Labels: minor

fix: add pages for various Apps
  docs/about/adam/index.html
  docs/apps/TimeTrackerPro/index.html
  docs/apps/gamesandthings/index.html
  docs/apps/moonsilverwaypoints/index.html
  docs/apps/soccergametracker/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/component-library/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/dashboard-analytics/index.html
  docs/designs/task-it/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/index.html
  docs/portfolio/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/sass/style.css
  docs/sitemap.xml
  docs/uses/index.html
  src/_includes/footer.njk
  src/pages/apps/TimeTrackerPro.md
  src/pages/apps/apps.json
  src/pages/apps/gamesandthings.md
  src/pages/apps/moonsilverwaypoints.md
  src/pages/apps/soccergametracker.md
Labels: minor

fix: add pages for various Apps a4546e4dac59cd01996c8962f7fbeac76acd2db4
  about/adam/index.html
  apps/TimeTrackerPro/index.html
  apps/gamesandthings/index.html
  apps/moonsilverwaypoints/index.html
  apps/soccergametracker/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  credits/index.html
  designs/alm/index.html
  designs/component-library/index.html
  designs/customer-engagement/index.html
  designs/dashboard-analytics/index.html
  designs/task-it/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  index.html
  portfolio/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  sitemap.xml
  uses/index.html
Labels: none

feat: add pages for available apps 873e5a0cfeccb9f400495a5f12faff10a1c512d6
  apps/gamesandthings.html
  apps/index.html
  apps/magiccollection.html
  apps/moonsilver.html
  apps/privacy.html
  apps/soccer.html
  apps/support.html
  apps/timetracker.html
  archives/index.html
  archives/town-selectman.html
  assets/img/TheMagicCollection-icon-dark-thumb.jpg
  assets/img/TheMagicCollection-icon-dark-thumb.webp
  assets/img/TheMagicCollection-icon-dark.jpg
  assets/img/TheMagicCollection-icon-dark.webp
  assets/img/TheMagicCollection-icon-light-thumb.jpg
  assets/img/TheMagicCollection-icon-light-thumb.webp
  assets/img/TheMagicCollection-icon-light.jpg
  assets/img/TheMagicCollection-icon-light.webp
  feed.json
  sitemap.xml
Labels: none

feat: Add ArchParser development case study
  src/pages/development/archparser.md
Labels: minor

[ImgBot] Optimize images (#381)
  android-launchericon-72-72.png
  feed.json
  icon-180.png
  icon-192.png
  icon-32.png
  icon-512.png
  sitemap.xml
Labels: none

fix: page layouts (#382) 47a5441ab226f82139dc0164369f3f5987c768b2
  feed.json
  index.html
  portfolio/index.html
  sitemap.xml
Labels: none

feat: add TaskStat pages
  docs/apps/taskstat-privacy.html
  docs/apps/taskstat.html
  docs/credits/index.html
  docs/css/markdown.css
  docs/css/style.css
  docs/css/style.css.map
  docs/feed.json
  docs/sass/markdown.css
  docs/sass/style.css
  docs/sitemap.xml
  src/_includes/markdown.njk
  src/pages/apps/taskstat-privacy.md
  src/pages/apps/taskstat.md
  src/sass/_markdown.scss
  src/sass/markdown.scss
  src/sass/style.scss
Labels: minor

fix: Taskstat pages (#383)
  apps/taskstat-privacy.html
  apps/taskstat.html
  assets/img/TaskStat_Dark-thumb.jpg
  assets/img/TaskStat_Dark-thumb.webp
  assets/img/TaskStat_Dark.jpg
  assets/img/TaskStat_Dark.webp
  assets/img/TaskStat_Default-thumb.jpg
  assets/img/TaskStat_Default-thumb.webp
  assets/img/TaskStat_Default.jpg
  assets/img/TaskStat_Default.webp
  assets/img/TaskStat_Tinted-thumb.jpg
  assets/img/TaskStat_Tinted-thumb.webp
  assets/img/TaskStat_Tinted.jpg
  assets/img/TaskStat_Tinted.webp
  assets/img/taskstat-screenshot-dashboard-thumb.jpg
  assets/img/taskstat-screenshot-dashboard-thumb.webp
  assets/img/taskstat-screenshot-dashboard.jpg
  assets/img/taskstat-screenshot-dashboard.webp
  assets/img/taskstat-screenshot-details-thumb.jpg
  assets/img/taskstat-screenshot-details-thumb.webp
  assets/img/taskstat-screenshot-details.jpg
  assets/img/taskstat-screenshot-details.webp
  assets/img/taskstat-screenshot-list-thumb.jpg
  assets/img/taskstat-screenshot-list-thumb.webp
  assets/img/taskstat-screenshot-list.jpg
  assets/img/taskstat-screenshot-list.webp
  assets/img/taskstat-screenshot-settings-thumb.jpg
  assets/img/taskstat-screenshot-settings-thumb.webp
  assets/img/taskstat-screenshot-settings.jpg
  assets/img/taskstat-screenshot-settings.webp
  credits/index.html
  css/style.css
  css/style.css.map
  feed.json
  sass/markdown.css
  sass/style.css
  sitemap.xml
Labels: none

doc: update README and CLAUDE
  CLAUDE.md
  README.md
Labels: none

doc: update README and CLAUDE (#384)
  CLAUDE.md
  README.md
Labels: none

doc: update README and CLAUDE (#384)
  feed.json
  sitemap.xml
Labels: none

fix: update image-optimer to handle jpeg
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
Labels: none

fix: update image-optimer to handle jpeg (#386)
  docs/css/markdown.css
  docs/css/print.css
  docs/css/prism.css
  docs/css/slides.css
  docs/css/style.css
  docs/feed.json
  docs/sitemap.xml
Labels: none

.github/labeler.yml:

minor:
  - src/_data/**
  - src/_generate/**
  - src/_includes/**
  - src/img/**
  - src/js/**
  - src/pages/**
  - src/sass/**
  - src/webfonts/**
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**
