Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

Fix image URLs breaking on nested pages
  .eleventy.js
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/css/fontawesome.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/streamdeck/examples/index.html
  package-lock.json
  package.json
  src/_includes/base.njk
  src/_includes/sitenav.njk
Labels: minor, dependencies

Update Resume and Development pages
  docs/about copy/index.html
  docs/alfred/workflows/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/page.njk
  src/pages/design.md
  src/pages/development.md
  src/pages/resume.md
  src/sass/_general.scss
  src/sass/_typography.scss
Labels: minor

Fix overlap due to excess padding and margin
  docs/design/index.html
  src/pages/design.md
Labels: minor

Update About and Resume pages
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/img/ajolicoeur_wordcloud_writing.png
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  src/_includes/base.njk
  src/_includes/home.njk
  src/img/ajolicoeur_wordcloud_writing.png
  src/pages/about.md
  src/pages/design.md
  src/pages/resume.md
  src/sass/_general.scss
Labels: minor

Finalize Contact page and update page header overflow
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/img/GitHub_card.png
  docs/img/linkedin_card.png
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  social/pages.json
  src/_includes/home.njk
  src/_includes/page.njk
  src/_includes/sitenav.njk
  src/img/GitHub_card.png
  src/img/linkedin_card.png
  src/pages/about.md
  src/pages/contact.md
  src/sass/_general.scss
Labels: minor

Remove contact form
  docs/contact/index.html
  src/pages/contact.md
Labels: minor

Fix typography bug and update styling
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/css/style.css
  docs/design/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed/feed.xml
  docs/index.html
  docs/prototypes/prototypes/index.html
  docs/redesign/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  social/pages.json
  src/_includes/home.njk
  src/_includes/page.njk
  src/_includes/sitenav.njk
  src/pages/about.md
  src/pages/code/code.json
  src/pages/code/redesign.md
  src/pages/contact.md
  src/pages/prototypes/prototypes.md
  src/pages/resume.md
  src/sass/_buttons.scss
  src/sass/_general.scss
  src/sass/_typography.scss
Labels: minor

Create CNAME
  docs/CNAME
Labels: none

Update CNAME
  docs/CNAME
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#238)
  README.md
Labels: none

Update base.njk
  src/_includes/base.njk
Labels: minor

Update base.njk
  src/_includes/base.njk
Labels: minor

Update base.njk (#240)
  src/_includes/base.njk
Labels: minor

Update github-pages deploy process
  .eleventy.js
  .github/workflows/eleventy_build.yml
Labels: github-action

Update github-pages deploy process (#241)
  .eleventy.js
  .github/workflows/eleventy_build.yml
Labels: github-action

Update eleventy build workflow
  .github/workflows/eleventy_build.yml
Labels: github-action

Update eleventy build workflow
  .github/workflows/eleventy_build.yml
Labels: github-action

deploy: 35e95bc8c1dd62de3ac044dcf6041c8b8c5d0e05
  CNAME
  about copy/index.html
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  design/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/timetrak/index.html
  development/index.html
  feed/feed.xml
  img/AdamJolicoeur_dot_com copy.png
  img/Alfredlogo4.png
  img/RHDManual_Home copy.png
  img/code-solid.svg
  img/codepen.svg
  img/create-pencil.jpeg
  img/envelope.svg
  img/external-link-alt-solid.svg
  img/github.svg
  img/headshot.jpg
  img/image.svg
  img/master_picture.png
  img/screenshot-kubevirtio copy.png
  img/screenshot-patternflyorg copy.png
  img/streamdeck-preview.png
  img/yL0QoCVMHj-2406.jpeg
  img/yL0QoCVMHj-2406.webp
  index.html
  pages/about/index.html
  pages/design/index.html
  pages/development/index.html
  prototypes/prototypes/index.html
  redesign/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
Labels: none

Create CNAME
  docs/CNAME
Labels: none

deploy: 236a95bd3f1375cc691710f540b714aad0ddeb5d
  CNAME
Labels: none

Add commit message for build deployment
  .github/workflows/eleventy_build.yml
Labels: github-action

Upload a new social image
  src/img/AdamJolicoeur_social.png
Labels: minor

Upload a new social image (#242)
  src/img/AdamJolicoeur_social.png
Labels: minor

Update Eleventy build config
  .eleventy.js
  docs/css/fontawesome.css
  docs/css/style.css
  docs/img/AdamJolicoeur_social.png
  img/yL0QoCVMHj-2406.jpeg
  img/yL0QoCVMHj-2406.webp
  img/yL0QoCVMHj-300.jpeg
  img/yL0QoCVMHj-300.webp
Labels: none

Update Eleventy build config (#243)
  .eleventy.js
  docs/css/fontawesome.css
  docs/css/style.css
  docs/img/AdamJolicoeur_social.png
  img/yL0QoCVMHj-2406.jpeg
  img/yL0QoCVMHj-2406.webp
  img/yL0QoCVMHj-300.jpeg
  img/yL0QoCVMHj-300.webp
Labels: none

Update Eleventy build config (#243)
  img/AdamJolicoeur_social.png
Labels: none

Update dates for Red Hat on resume
  docs/css/style.css
  docs/resume/index.html
  src/pages/resume.md
Labels: minor

Update dates for Red Hat on resume (#245)
  docs/css/style.css
  docs/resume/index.html
  src/pages/resume.md
Labels: minor

Update dates for Red Hat on resume (#245) 93e39ffa8e7ad22cffcfe4db97aa41e7c5241b92
  resume/index.html
Labels: none

Update design.md
  src/pages/design.md
Labels: minor

Update design.md (#244)
  src/pages/design.md
Labels: minor

Update Figma community link
  docs/design/index.html
Labels: none

Update Figma community link (#246)
  docs/design/index.html
Labels: none

Update Figma community link (#246)
  design/index.html
Labels: none

Many many changes
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed/feed.xml
  docs/img/headshot.jpg
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_data/resume.json
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/sitenav.njk
  src/img/headshot.jpg
  src/pages/about.md
  src/pages/contact.md
  src/pages/designs.md
  src/pages/designs/alm.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/designs.json
  src/pages/designs/district25.md
  src/pages/designs/timetrak.md
  src/pages/prototypes/prototypes.json
  src/pages/resume.md
  src/pages/testimonials/testimonials.json
  src/pages/testimonials/testimonials.md
  src/sass/_general.scss
  src/sass/_typography.scss
Labels: minor

New pages and improvements (#247)
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed/feed.xml
  docs/img/headshot.jpg
  docs/prototypes/prototypes/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_data/resume.json
  src/_includes/base.njk
  src/_includes/home.njk
  src/_includes/sitenav.njk
  src/img/headshot.jpg
  src/pages/about.md
  src/pages/contact.md
  src/pages/designs.md
  src/pages/designs/alm.md
  src/pages/designs/customer-engagement.md
  src/pages/designs/designs.json
  src/pages/designs/district25.md
  src/pages/designs/timetrak.md
  src/pages/prototypes/prototypes.json
  src/pages/resume.md
  src/pages/testimonials/testimonials.json
  src/pages/testimonials/testimonials.md
  src/sass/_general.scss
  src/sass/_typography.scss
Labels: minor

New pages and improvements (#247) 8d56b887ebcfbad2b4d7af657a61bf316dd2c57e
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  css/style.css
  designs/alm/index.html
  designs/district25/index.html
  designs/index.html
  designs/timetrak/index.html
  development/index.html
  feed/feed.xml
  img/headshot.jpg
  prototypes/prototypes/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Replace FA kit with FA Free (#251)
  CNAME
  about/index.html
  alfred/workflows/index.html
  code/redesign/index.html
  contact/index.html
  css/fa/brands.css
  css/fa/fontawesome.css
  css/fa/regular.css
  css/fa/solid.css
  css/fa/v4-shims.css
  css/fontawesome.css
  css/style.css
  design/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/timetrak/index.html
  development/index.html
  index.html
  prototypes/prototypes/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**
