Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/**/*.html
  - src/img/**
  - src/sass/**/*.scss
  - src/**/*.js
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

Update workflow to check for more types
  .github/workflows/release-drafter.yml
Labels: github-action

Add Name and Tag templates for drafts
  .github/release-drafter.yml
Labels: github-action

Update workflow to check for more types
  .github/workflows/release-drafter.yml
Labels: github-action

Update Release Drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  README.md
Labels: github-action

Fix release drafter template
  .github/release-drafter.yml
Labels: github-action

Fix tag and name template
  .github/release-drafter.yml
Labels: github-action

Archiving various pages and content
  PROTOTYPES.md
  docs/archives/archives/index.html
  docs/archives/index.html
  docs/archives/town-selectman/index.html
  docs/development/index.html
  docs/feed.json
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/town-selectman/index.html
  social/pages.json
  src/pages/archives/archives.json
  src/pages/archives/index.md
  src/pages/archives/town-selectman.md
  src/pages/development.md
  src/pages/prototypes/prototypes.json
  src/pages/prototypes/prototypes.md
  town-selectman.html
Labels: minor

Archiving various pages and content
  PROTOTYPES.md
  docs/archives/archives/index.html
  docs/archives/index.html
  docs/archives/town-selectman/index.html
  docs/development/index.html
  docs/feed.json
  docs/prototypes/index.html
  docs/sitemap.xml
  docs/town-selectman/index.html
  social/pages.json
  src/pages/archives/archives.json
  src/pages/archives/index.md
  src/pages/archives/town-selectman.md
  src/pages/development.md
  src/pages/prototypes/prototypes.json
  src/pages/prototypes/prototypes.md
  town-selectman.html
Labels: minor

Archiving various pages and content bf7fd4a981eaff3af6b997b90400369dc4e2397a
  archives/archives/index.html
  archives/index.html
  archives/town-selectman/index.html
  development/index.html
  feed.json
  prototypes/index.html
  sitemap.xml
  town-selectman/index.html
Labels: none

Add Apps sections
  docs/apps/gamesandthings/index.html
  docs/development/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/development.md
  src/pages/gamesandthings/gamesandthings.json
  src/pages/gamesandthings/index.md
Labels: minor

Add Apps sections
  docs/apps/gamesandthings/index.html
  docs/development/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/development.md
  src/pages/gamesandthings/gamesandthings.json
  src/pages/gamesandthings/index.md
Labels: minor

Add Apps sections 2d0e8e99382c7dcdf8ef726048c6f42595fa9fd4
  apps/gamesandthings/index.html
  development/index.html
  feed.json
  sitemap.xml
Labels: none

Replace Bootstrap with Halfmoon
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/halfmoon.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  package-lock.json
  package.json
  social/pages.json
  src/_includes/base.njk
  src/css/halfmoon.css
  src/sass/_typography.scss
  src/sass/style.scss
Labels: minor, dependencies

Add Halfmoon Elegant and Modern themes
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/halfmoon.cores.css
  docs/css/halfmoon.css
  docs/css/halfmoon.elegant.css
  docs/css/halfmoon.min.css
  docs/css/halfmoon.modern.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  package.json
  social/pages.json
  src/_includes/base.njk
  src/css/cores/halfmoon.cores.css
  src/css/cores/halfmoon.elegant.css
  src/css/cores/halfmoon.modern.css
  src/css/halfmoon.css
  src/css/halfmoon.min.css
  src/sass/style.scss
Labels: minor

Set theme to Modern and remove extra
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/index.html
  docs/prototypes/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  src/_includes/base.njk
  src/css/cores/halfmoon.cores.css
  src/css/cores/halfmoon.elegant.css
  src/sass/style.scss
Labels: minor

[Major] Upgrade to Eleventy v3 beta-1
  .eleventy.js
  docs/404.html
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/feed.json
  docs/index.html
  docs/prototypes/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  package-lock.json
  package.json
  social/pages.json
  social/template.html
  src/_generate/socialtemplate.njk
  src/sass/_mixins.scss
Labels: minor, dependencies

Upgrade Eleventy dependencies
  package-lock.json
  package.json
Labels: dependencies

Remove Update Helper plugin
  .eleventy.js
  docs/404.html
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/code/redesign/index.html
  docs/contact/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/presentations/colorPicker/index.html
  docs/designs/presentations/portfolio/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/index.html
  docs/index.html
  docs/prototypes/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  package-lock.json
  package.json
  social/template.html
Labels: dependencies

Update version number
  package-lock.json
  package.json
Labels: dependencies

Eleventy v3.0.0-beta-1 upgrade (#281)
  .eleventy.js
  docs/feed.json
  docs/sitemap.xml
  package-lock.json
  package.json
  social/pages.json
  social/template.html
  src/_generate/socialtemplate.njk
  src/sass/_mixins.scss
Labels: minor, dependencies

Eleventy v3.0.0-beta-1 upgrade (#281)
  feed.json
  sitemap.xml
Labels: none

Organize page structure and update links
  docs/designs/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/markdown.njk
  src/pages/code/code.json
  src/pages/designs.md
  src/pages/development.md
  src/pages/development/code/code.json
  src/pages/development/code/index.md
  src/pages/development/development.json
  src/pages/development/examples/examples.json
  src/pages/development/examples/index.md
  src/pages/development/prototypes/index.md
  src/pages/development/prototypes/prototypes.json
  src/pages/presentations.md
  src/pages/presentations/colorPicker/color-picker.md
  src/pages/presentations/portfolio/portfolio.md
  src/pages/presentations/presentations.json
Labels: minor

Organize page structure and update links (#282)
  docs/designs/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/pages.json
  src/_includes/markdown.njk
  src/pages/code/code.json
  src/pages/designs.md
  src/pages/development.md
  src/pages/development/code/code.json
  src/pages/development/code/index.md
  src/pages/development/development.json
  src/pages/development/examples/examples.json
  src/pages/development/examples/index.md
  src/pages/development/prototypes/index.md
  src/pages/development/prototypes/prototypes.json
  src/pages/presentations.md
  src/pages/presentations/colorPicker/color-picker.md
  src/pages/presentations/portfolio/portfolio.md
  src/pages/presentations/presentations.json
Labels: minor

Organize page structure and update links (#282)
  designs/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  sitemap.xml
Labels: none

404 image url patch
  docs/404.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/404.html
Labels: minor

404 image url patch a58e01d2d85fc07f04f164568822ce6b2be8e08c
  404.html
  feed.json
  sitemap.xml
Labels: none

Patch broken URL
  docs/development/index.html
  src/pages/development.md
Labels: minor

Patch broken URL eaf478e7d640c5c4203c53aef8a4c7271a4f08ca
  development/index.html
Labels: none

Update About page
  .eleventy.js
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/development/examples/index.html
  docs/streamdeck/examples/index.html
  src/pages/about.md
Labels: minor

Update About page (#283)
  .eleventy.js
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/development/examples/index.html
  docs/streamdeck/examples/index.html
  src/pages/about.md
Labels: minor

Update About page (#283) 3784cd42b3e59f7eb2a9973e9e0f896f664ab3ec
  about/index.html
  alfred/workflows/index.html
  development/examples/index.html
  streamdeck/examples/index.html
Labels: none

Update entries on the About page
  docs/about/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/about.md
Labels: minor

Update content on the About page (#284)
  docs/about/index.html
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/about.md
Labels: minor

Update content on the About page (#284) c9ec1c4a64b4a9fd56974f9f9562a86a7429c0d2
  about/index.html
  feed.json
  sitemap.xml
Labels: none

Try to fix release update automatiion
  .github/release-drafter.yml
Labels: github-action

Try to fix release update automatiion
  .github/release-drafter.yml
Labels: github-action
