Repository AdamJ/AdamJ.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: minor, dependencies, github-action

.github/labeler.yml:

minor:
  - src/_data/**
  - src/_generate/**
  - src/_includes/**
  - src/img/**
  - src/js/**
  - src/pages/**
  - src/sass/**
  - src/webfonts/**
  - src/**/*.njk
  - src/**/*.md
  - src/**/*.json
dependencies:
  - package-lock.json
github-action:
  - .github/**

Add a footer with links
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons-and-branding/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/pages/icons-and-branding.md
  src/pages/icons-and-branding/icons-and-branding.json
  src/pages/icons-and-branding/icons.md
  src/sass/_general.scss
Labels: minor

Add a footer with links
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/contact/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons-and-branding/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/pages/icons-and-branding.md
  src/pages/icons-and-branding/icons-and-branding.json
  src/pages/icons-and-branding/icons.md
  src/sass/_general.scss
Labels: minor

Add a footer with links 153630f83236d5137156645284c09d3c8a03d570
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  contact/index.html
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons-and-branding/index.html
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  presentations/color-picker/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/testimonials/index.html
Labels: none

Return release-drafter
  .github/release-drafter.yml
Labels: github-action

Return release-drafter
  .github/release-drafter.yml
Labels: github-action

Update GitHub Actions for Token
  .github/workflows/eleventy_build.yml
  .gitignore
  package-lock.json
Labels: dependencies, github-action

Update GitHub Actions for Token
  .github/workflows/eleventy_build.yml
  .gitignore
  package-lock.json
Labels: dependencies, github-action

Update GitHub Actions for Token 0a1382dd59bf41fefa5a1c0c335e522f9b93f802
  feed.json
  sitemap.xml
Labels: none

Swap Shoelace icons for custom icons f8f17de92dc5dfd62f0a223065f2ee9aa5ef2eb1
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  css/fontawesome.css
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  js/callout.js
  posts/creating-a-blog/index.html
  posts/custom-icons/index.html
  posts/index.html
  posts/shoelace-and-dark-mode/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Update footer info
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/posts/creating-a-blog/index.html
  docs/posts/custom-icons/index.html
  docs/posts/index.html
  docs/posts/shoelace-and-dark-mode/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_includes/footer.njk
Labels: minor

Update footer info
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/posts/creating-a-blog/index.html
  docs/posts/custom-icons/index.html
  docs/posts/index.html
  docs/posts/shoelace-and-dark-mode/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_includes/footer.njk
Labels: minor

Update footer info a8343d995ab1b55b4907d6aced68b824b0e92700
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  posts/creating-a-blog/index.html
  posts/custom-icons/index.html
  posts/index.html
  posts/shoelace-and-dark-mode/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Remove Twitter information from site
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/img/twitter_memory.jpg
  docs/index.html
  docs/posts/creating-a-blog/index.html
  docs/posts/custom-icons/index.html
  docs/posts/goodbye-twitter/index.html
  docs/posts/index.html
  docs/posts/shoelace-and-dark-mode/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/blog.njk
  src/_includes/footer.njk
  src/img/twitter_memory.jpg
  src/posts/goodbye-twitter.md
Labels: minor

Remove Twitter information from site
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/img/twitter_memory.jpg
  docs/index.html
  docs/posts/creating-a-blog/index.html
  docs/posts/custom-icons/index.html
  docs/posts/goodbye-twitter/index.html
  docs/posts/index.html
  docs/posts/shoelace-and-dark-mode/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_data/meta.js
  src/_includes/base.njk
  src/_includes/blog.njk
  src/_includes/footer.njk
  src/img/twitter_memory.jpg
  src/posts/goodbye-twitter.md
Labels: minor

Remove Twitter information from site c9f943f9f366770ac0e51a9034bd84a986b0f48a
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  img/twitter_memory.jpg
  index.html
  posts/creating-a-blog/index.html
  posts/custom-icons/index.html
  posts/goodbye-twitter/index.html
  posts/index.html
  posts/shoelace-and-dark-mode/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Complete upgrade to 11ty v3 589e46d0f6fc158027118537d2a02db04f8fc080
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  posts/creating-a-blog/index.html
  posts/custom-icons/index.html
  posts/goodbye-twitter/index.html
  posts/index.html
  posts/shoelace-and-dark-mode/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Add a Print specific stylesheet
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/css/print.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  package.json
  src/_includes/footer.njk
  src/_includes/sitenav.njk
  src/pages/resume.md
  src/sass/_general.scss
  src/sass/_typography.scss
  src/sass/print.scss
  src/sass/style.scss
Labels: minor

Add a Print specific stylesheet
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/css/print.css
  docs/css/style.css
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  package.json
  src/_includes/footer.njk
  src/_includes/sitenav.njk
  src/pages/resume.md
  src/sass/_general.scss
  src/sass/_typography.scss
  src/sass/print.scss
  src/sass/style.scss
Labels: minor

Add a Print specific stylesheet c7e2a61b12f12561340bd06551135cb0c8fdbf96
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  css/print.css
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Update Prototypes pages
  docs/css/style.css
  docs/css/style.css.map
  docs/development/index.html
  docs/feed.json
  docs/img/rh_integration.png
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/pages.json
  src/img/rh_integration.png
  src/pages/development.md
  src/pages/development/prototypes/index.md
Labels: minor

Update Prototypes pages
  docs/css/style.css
  docs/css/style.css.map
  docs/development/index.html
  docs/feed.json
  docs/img/rh_integration.png
  docs/presentations/color-picker/index.html
  docs/presentations/portfolio/index.html
  docs/sitemap.xml
  social/pages.json
  src/img/rh_integration.png
  src/pages/development.md
  src/pages/development/prototypes/index.md
Labels: minor

Update Prototypes pages 4fe37b376e44b475a57ac7a334e5b60df4e7f61e
  development/index.html
  development/prototypes/index.html
  feed.json
  img/rh_integration.png
  sitemap.xml
Labels: none

Update social share image and webmanifest
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/img/AdamJolicoeur_social.png
  docs/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/site.webmanifest
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/blog.njk
  src/icons-192.png
  src/icons-512.png
  src/img/AdamJolicoeur_social.png
  src/site.webmanifest
Labels: minor

Update social share image and webmanifest
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/img/AdamJolicoeur_social.png
  docs/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/site.webmanifest
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  social/pages.json
  src/_includes/base.njk
  src/_includes/blog.njk
  src/icons-192.png
  src/icons-512.png
  src/img/AdamJolicoeur_social.png
  src/site.webmanifest
Labels: minor

Update social share image and webmanifest 06911f50980b7a1a7ca4a149cc3c3a1fb97a9060
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  img/AdamJolicoeur_social.png
  index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  site.webmanifest
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none

Update socials
  docs/connect/index.html
  src/pages/connect.md
Labels: minor

Update socials
  docs/connect/index.html
  src/pages/connect.md
Labels: minor

Update socials 670f1ab0ebeb625fdb6a8a9e4be23911d2d3e06d
  connect/index.html
  feed.json
  sitemap.xml
Labels: none

Remove LICENSE
  .gitignore
  .vscode/settings.json
  LICENSE
  docs/about/index.html
  docs/css/print.css
  docs/feed.json
  docs/sitemap.xml
  social/pages.json
  src/pages/about.md
  src/sass/print.scss
Labels: minor

Set manifest shortname to less than 12 characters
  src/site.webmanifest
Labels: none

Add words to environment spell checker
  .vscode/settings.json
Labels: none

Clean up and reset Credits template
  docs/about/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/feed.json
  docs/presentations/index.html
  social/pages.json
  src/pages/about.md
  src/pages/connect.md
  src/pages/credits/index.md
  src/pages/designs.md
  src/pages/development.md
  src/pages/development/examples/index.md
  src/pages/presentations.md
  src/sass/_toc.scss
  src/sass/_typography.scss
Labels: minor

Fix things
  .eleventy.js
  docs/about/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  src/_includes/markdown.njk
  src/sass/_buttons.scss
  src/sass/_colors.scss
  src/sass/_general.scss
  src/sass/_toc.scss
Labels: minor

Fix browserlist issue
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/print.css
  docs/css/prism.css
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/feed.json
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/sitemap.xml
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  package-lock.json
  package.json
  social/pages.json
  src/sass/_buttons.scss
  src/sass/_colors.scss
Labels: minor, dependencies

Rebuild CSS
  docs/css/style.css
  docs/posts/howto/index.html
  docs/posts/index.html
  docs/sitemap.xml
  social/pages.json
Labels: none

Rebuild CSS f10bbf93849ff412faa160045ac2b7ce797b7eb0
  feed.json
  posts/howto/index.html
  posts/index.html
  sitemap.xml
Labels: none

Update 11ty dependencies
  .gitignore
  package-lock.json
  package.json
Labels: dependencies

Adjust for mobile viewing
  docs/css/style.css
  docs/css/style.css.map
  docs/index.html
  src/_includes/home.njk
  src/sass/_footer.scss
  src/sass/_general.scss
Labels: minor

Fix alignments and overflows
  docs/about/index.html
  docs/alfred/workflows/index.html
  docs/apps/gamesandthings/index.html
  docs/archives/archives/index.html
  docs/archives/town-selectman/index.html
  docs/connect/index.html
  docs/credits/index.html
  docs/css/style.css
  docs/css/style.css.map
  docs/designs/alm/index.html
  docs/designs/customer-engagement/index.html
  docs/designs/district25/index.html
  docs/designs/index.html
  docs/designs/task-it/index.html
  docs/designs/timetrak/index.html
  docs/development/code/index.html
  docs/development/examples/index.html
  docs/development/index.html
  docs/development/prototypes/index.html
  docs/icons-and-branding/icons/index.html
  docs/icons-and-branding/index.html
  docs/index.html
  docs/journeys/journeys/index.html
  docs/posts/howto/index.html
  docs/posts/index.html
  docs/presentations/color-picker/index.html
  docs/presentations/index.html
  docs/presentations/portfolio/index.html
  docs/reference/index.html
  docs/resume/index.html
  docs/streamdeck/examples/index.html
  docs/testimonials/index.html
  src/_includes/footer.njk
  src/_includes/home.njk
Labels: minor

Completely redo landing page and force dark mode (#318)
  about/index.html
  alfred/workflows/index.html
  apps/gamesandthings/index.html
  archives/archives/index.html
  archives/town-selectman/index.html
  connect/index.html
  credits/index.html
  css/style.css
  css/style.css.map
  designs/alm/index.html
  designs/customer-engagement/index.html
  designs/district25/index.html
  designs/index.html
  designs/task-it/index.html
  designs/timetrak/index.html
  development/code/index.html
  development/examples/index.html
  development/index.html
  development/prototypes/index.html
  feed.json
  icons-and-branding/icons/index.html
  icons-and-branding/index.html
  index.html
  journeys/journeys/index.html
  posts/howto/index.html
  posts/index.html
  presentations/color-picker/index.html
  presentations/index.html
  presentations/portfolio/index.html
  reference/index.html
  resume/index.html
  sitemap.xml
  streamdeck/examples/index.html
  testimonials/index.html
  workflows/index.html
Labels: none
